<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Huellitas</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="../content/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="../content/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../content/css/styles.css" />

    <!--[if IE]>
		<script type="text/javascript">
			 var console = { log: function() {} };
		</script>
	<![endif]-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../content/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-animate.min.js"></script>
</head>
<body ng-app="ngAnimate">
	<header class="inner-header">
		<div class="content-all">
			<div class="main-menu"><span class="icon-menu"></span></div>
			<h1 class="logo">
			<a href="/">
				<img src="../content/images/logo.svg">
				<span>Huellitas sin hogar - Ayuda a adoptar mascotas</span>
			</a>
			</h1>
			<nav class="menu">
				<h2><a class="active" href="index.html">Inicio</a></h2>
				<h2><a href="huellitas.html">En adopción</a></h2>
				<h2><a href="perdidos.html">Perdidos</a></h2>
				<h2><a href="fundaciones.html">Fundaciones</a></h2>
				<h2><a href="porque.html">¿Por qué adoptar?</a></h2>
				<br/>
			</nav>
			<div class="user-wraper">
				<!--<a class="login" href="">Iniciar sesión</a>-->
				<a class="btn-noti" href="notificaciones.html">
					<i class="icon-noti"></i>
					<span>00</span>
				</a>
				<div class="user-img">
					<div class="no-img">J</div>
					<img src="https://scontent.fbog2-1.fna.fbcdn.net/v/t1.0-1/p56x56/14368897_1083015501806273_3197812012577248045_n.jpg?oh=e0ba28e2d93f5a799ac2d262b2ff862c&oe=5959FBE8">
				</div>
				<br/>
				<div class="sub-wraper">
					<h6>Julian Castillo</h6>
					<p>chechocast@gmail.com</p>
					<a href="mishuellitas.html">Mis huellitas</a>
					<a href="misdatos.html">Mis datos</a>
					<a href="">Cerrar sesión</a>
				</div>
			</div>
			<br/>
		</div>
	</header>
	<div class="pg-body col-md-12">
		<section>
			<article class="content-all">
				<div class="content-form">
					<h1 class="tit-form">¿TIENES UNA FUNDACIÓN?</h1>
					<div class="sub-title col-md-12">En Huellitas sin hogar te ayudamos a que le puedas conseguir hogar a los peludos que no lo tengan, pero antes de cualquier cosa ten en cuenta las siguientes recomendaciones:</div>
					<br/>
					<form>
						<label class="col-md-12">Datos</label>
						<div class="col-sm-6 col-xs-12 bad">
							<input type="text" placeholder="Nombre">
							<span class="error">Error mensaje</span>
						</div>
						<div class="col-sm-6 col-xs-12">
							<input type="number" placeholder="Encargado">
							<span class="error"></span>
						</div>
						<div class="col-sm-6 col-xs-12">
							<input type="text" placeholder="Dirección">
							<span class="error"></span>
						</div>
						<div class="col-sm-6 col-xs-12">
							<input type="text" placeholder="Teléfono 1">
							<span class="error"></span>
						</div>
						<div class="col-sm-6 col-xs-12">
							<input type="text" placeholder="Teléfono 2">
							<span class="error"></span>
						</div>
						<div class="col-sm-6 col-xs-12">
							<input type="text" placeholder="Ciudad">
							<span class="error"></span>
						</div>
						<br/>
						<div class="col-md-12">
							<textarea placeholder="Descripción"></textarea>
							<span class="error"></span>
						</div>
						<label class="col-md-12">Redes</label>
						<div class="redes-inp col-sm-6 col-xs-12">
							<span class="icon-face"></span>
							<input type="text">
							<br/>
							<span class="error"></span>
						</div>
						<div class="redes-inp col-sm-6 col-xs-12">
							<span class="icon-twt"></span>
							<input type="text">
							<br/>
							<span class="error"></span>
						</div>
						<div class="redes-inp col-sm-6 col-xs-12">
							<span class="icon-insta"></span>
							<input type="text">
							<br/>
							<span class="error"></span>
						</div>
						<br/>
						<div class="col-md-12">
							<label>Fotos</label>
							<div class="images-dropzone">
								<div class="file-upload-drop-text">
									<p>
										<i class="icon-photo"></i>
									</p>
									<p>Arrastra aquí</p>
									<p>o</p>
								</div>
								<div class="file-upload-button">
									<button class="btn btn-white btn-block btn-lg" type="button">Carga tus fotos</button>
									<input type="file" name="property_imagen[imagen]" id="property_imagen_imagen" multiple="multiple" accept="image/*">
								</div>
								<br/>
							</div>
						</div>
						<label class="col-md-12">Video</label>
						<div class="col-sm-6 col-xs-12">
							<input type="number" placeholder="url">
							<span class="error"></span>
						</div>
						</br>
					</form>
					<div class="btn-content">
						<a href="" class="btn btn-cancel btn-lg">Cancelar</a>
						<a href="" class="btn btn-save btn-lg">Crear</a>
					</div>
				</div>
			</article>
		</section>
		<footer>
			<div class="redes">
				<a href=""><span class="icon-face"></span></a>
				<a href=""><span class="icon-insta"></span></a>
			</div>
			<p>© 2017 Huellitas sin hogar. All rights reserved.</p>
		</footer>
	</div>
</body>
</html>