<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Huellitas</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="../content/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="../content/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../content/css/styles.css" />

    <!--[if IE]>
		<script type="text/javascript">
			 var console = { log: function() {} };
		</script>
	<![endif]-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../content/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-animate.min.js"></script>
</head>
<body ng-app="ngAnimate">
	<header class="inner-header">
		<div class="content-all">
			<div class="main-menu"><span class="icon-menu"></span></div>
			<h1 class="logo">
			<a href="/">
				<img src="../content/images/logo.svg">
				<span>Huellitas sin hogar - Ayuda a adoptar mascotas</span>
			</a>
			</h1>
			<nav class="menu">
				<h2><a class="active" href="index.html">Inicio</a></h2>
				<h2><a href="huellitas.html">En adopción</a></h2>
				<h2><a href="perdidos.html">Perdidos</a></h2>
				<h2><a href="fundaciones.html">Fundaciones</a></h2>
				<h2><a href="porque.html">¿Por qué adoptar?</a></h2>
				<br/>
			</nav>
			<div class="user-wraper">
				<!--<a class="login" href="">Iniciar sesión</a>-->
				<a class="btn-noti" href="notificaciones.html">
					<i class="icon-noti"></i>
					<span>00</span>
				</a>
				<div class="user-img">
					<div class="no-img">J</div>
					<img src="https://scontent.fbog2-1.fna.fbcdn.net/v/t1.0-1/p56x56/14368897_1083015501806273_3197812012577248045_n.jpg?oh=e0ba28e2d93f5a799ac2d262b2ff862c&oe=5959FBE8">
				</div>
				<br/>
				<div class="sub-wraper">
					<h6>Julian Castillo</h6>
					<p>chechocast@gmail.com</p>
					<a href="mishuellitas.html">Mis huellitas</a>
					<a href="misdatos.html">Mis datos</a>
					<a href="">Cerrar sesión</a>
				</div>
			</div>
			<br/>
		</div>
	</header>
	<div class="pg-body col-md-12">
		<section>
			<article class="content-all">
				<div class="content-form">
					<h1 class="tit-form">PROCESO DE ADOPCIÓN</h1>
					<div class="sub-title col-md-12">A continuación encontrarás un formulario con el cual buscamos medir que tan apto eres para adoptar una mascota con nosotros. Este es el primer paso en el proceso de adopción, si lo pasas nos estaremos comunicando directamente contigo.*</div>
					<ul class="wizard_steps">
						<li>
							<a href="#step-1" class="done" isdone="1" rel="1">
								<span class="step_no">1</span>
							</a>
						</li>
						<li>
							<a href="#step-2" class="done" isdone="0" rel="2">
								<span class="step_no">2</span>
							</a>
						</li>
						<li>
							<a href="#step-3" class="done" isdone="0" rel="3">
								<span class="step_no">3</span>
							</a>
						</li>
						<li>
							<a href="#step-4" class="selected" isdone="0" rel="4">
								<span class="step_no">4</span>
							</a>
						</li>
					</ul>
					<form>
						<div class="ask-f">
							<label class="col-md-12">¿Estás consciente y aceptas los gastos que genera tener un animal de compañía?</label>
							<div class="radio col-sm-6 col-xs-12">
							  <label>
							    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
							    Si
							  </label>
							</div>
							<div class="radio col-sm-6 col-xs-12">
							  <label>
							    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
							    No
							  </label>
							</div>
							<br/>
						</div>
						<div class="ask-f">
							<label class="col-md-12">¿Estás consciente y aceptas que adoptar un animal es una responsabilidad de 14 a 17 años?</label>
							<div class="radio col-sm-6 col-xs-12">
							  <label>
							    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
							    Si
							  </label>
							</div>
							<div class="radio col-sm-6 col-xs-12">
							  <label>
							    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
							    No
							  </label>
							</div>
							<br/>
						</div>
						<div class="ask-f">
							<label class="col-md-12">¿Estás consciente y aceptas que el animal necesita un periodo de ajuste en el que aprenda dónde debe ir al baño y se adapte a la familia?</label>
							<div class="radio col-sm-6 col-xs-12">
							  <label>
							    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
							    Si
							  </label>
							</div>
							<div class="radio col-sm-6 col-xs-12">
							  <label>
							    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
							    No
							  </label>
							</div>
							<br/>
						</div>
						<div class="ask-f">
							<label class="col-md-12">¿Vives en casa propia o arriendo?</label>
							<div class="radio col-sm-6 col-xs-12">
							  <label>
							    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
							    Si
							  </label>
							</div>
							<div class="radio col-sm-6 col-xs-12">
							  <label>
							    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
							    No
							  </label>
							</div>
							<br/>
						</div>
						<div class="ask-f">
							<label class="col-md-12">¿Cuánto crees que son los gastos mensuales para mantener bien al animal que deseas adoptar?</label>
							<div class="radio col-sm-6 col-xs-12">
							  <label>
							    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
							    Hasta $20.000
							  </label>
							</div>
							<div class="radio col-sm-6 col-xs-12">
							  <label>
							    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
							    Entre $20.000 y $50.000
							  </label>
							</div>
							<div class="radio col-sm-6 col-xs-12">
							  <label>
							    <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">
							    Entre $50.000 y $80.000
							  </label>
							</div>
							<div class="radio col-sm-6 col-xs-12">
							  <label>
							    <input type="radio" name="optionsRadios" id="optionsRadios3" value="option4">
							    Más de 80.000 pesos
							  </label>
							</div>
							<br/>
						</div>
					</form>
					<div class="res-pet">
						<img class="img-responsive" src="http://huellitas.social/img/18865/big">
						<div class="txt-pet">
							<h3>HANNA</h3>
							<div>
								<span>Genero: Femenino</span>
								<span>Edad: 2 año(s)</span>
								<span>Color: Café claro</span>
								<span>Localización: Tenjo</span>
							</div>
							<div>
								<span>Hogar de paso: <a href="">Dame Vida ORG</a></span>
								<span>Contacto: Hernán Moncada</span>
								<span>Celular: 320 3546789</span>
								<span>Telefono:3017501999</span>
							</div>
						</div>
						<br/>
					</div>
					<span class="legal">*El llenar el formulario o ser contactado no garantiza la adopción del animal</span>
					<div class="btn-content">
						<a href="form-adopcion3.html" class="btn btn-cancel btn-lg">Volver</a>
						<a href="index.html" class="btn btn-save btn-lg">Finalizar</a>
					</div>
				</div>
			</article>
		</section>
		<footer>
			<div class="redes">
				<a href=""><span class="icon-face"></span></a>
				<a href=""><span class="icon-insta"></span></a>
			</div>
			<p>© 2017 Huellitas sin hogar. All rights reserved.</p>
		</footer>
	</div>
</body>
</html>