<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Huellitas</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="../content/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="../content/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../content/css/styles.css" />

    <!--[if IE]>
		<script type="text/javascript">
			 var console = { log: function() {} };
		</script>
	<![endif]-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../content/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-animate.min.js"></script>
</head>
<body ng-app="ngAnimate">
	<header class="inner-header">
		<div class="content-all">
			<div class="main-menu"><span class="icon-menu"></span></div>
			<h1 class="logo">
			<a href="/">
				<img src="../content/images/logo.svg">
				<span>Huellitas sin hogar - Ayuda a adoptar mascotas</span>
			</a>
			</h1>
			<nav class="menu">
				<h2><a class="active" href="index.html">Inicio</a></h2>
				<h2><a href="huellitas.html">En adopción</a></h2>
				<h2><a href="perdidos.html">Perdidos</a></h2>
				<h2><a href="fundaciones.html">Fundaciones</a></h2>
				<h2><a href="porque.html">¿Por qué adoptar?</a></h2>
				<br/>
			</nav>
			<div class="user-wraper">
				<!--<a class="login" href="">Iniciar sesión</a>-->
				<a class="btn-noti" href="notificaciones.html">
					<i class="icon-noti"></i>
					<span>00</span>
				</a>
				<div class="user-img">
					<div class="no-img">J</div>
					<img src="https://scontent.fbog2-1.fna.fbcdn.net/v/t1.0-1/p56x56/14368897_1083015501806273_3197812012577248045_n.jpg?oh=e0ba28e2d93f5a799ac2d262b2ff862c&oe=5959FBE8">
				</div>
				<br/>
				<div class="sub-wraper">
					<h6>Julian Castillo</h6>
					<p>chechocast@gmail.com</p>
					<a href="mishuellitas.html">Mis huellitas</a>
					<a href="misdatos.html">Mis datos</a>
					<a href="javascript:;" data-toggle="modal" data-target="#myModal">Cerrar sesión</a>
				</div>
			</div>
			<br/>
		</div>
	</header>
	<div class="pg-body col-md-12">
		<section class="inter-add">
			<h3>¿Tienes una huellita para dar en adopción?</h3>
			<a href="msj-pet.html" class="btn btn-lg">Publicala aquí</a>
		</section>
		<section>
			<article class="content-all">
				<h1 class="tit-section col-md-12">ENCUENTRA TU HUELLITA</h1>
				<div class="sub-title col-md-12">Solo busca por las caracteristicas del que quieras fuera tu huellita</div>
				<form class="search-box">
					<div class="col-md-2 col-sm-6">
						<div class="type-pet">
							<input type="radio">
							<span class="icon-perro"></span>
						</div>
						<div class="type-pet">
							<input type="radio">
							<span class="icon-cat"></span>
						</div>
						<br/>
					</div>
					<div class="col-md-2 col-sm-6">
						<select>
							<option>Genero</option>
						</select>
					</div>
					<div class="col-md-2 col-sm-6">
						<select>
							<option>Edad</option>
						</select>
					</div>
					<div class="col-md-2 col-sm-6">
						<select>
							<option>Tamaño</option>
						</select>
					</div>
					<div class="col-md-2 col-sm-12">
						<button type="button" class="btn btn-lg	">Buscar</button>
					</div>
					<br/>
				</form>
				<div class="content-card col-md-12">
					<div class="card">
						<div class="img-pet">
							<a href="interna-pet.html">
								<img class="img-responsive" src="http://huellitas.social/img/18865/big">
							</a>
						</div>
						<a href="interna-pet.html">
							<h3>VIANCA</h3>
							<p>Hembra - 3 meses</p>
							<button type="button" class="btn btn-lg">Conocer más</button>
							<span class="priority">
								<i class="icon-star"></i>
								<span>Caso prioritario</span>
							</span>
						</a>
					</div>
					<div class="card">
						<div class="img-pet">
							<a href="interna-pet.html">
								<img class="img-responsive" src="http://huellitas.social/img/18865/big">
							</a>
						</div>
						<a href="interna-pet.html">
							<h3>VIANCA</h3>
							<p>Hembra - 3 meses</p>
							<button type="button" class="btn btn-lg">Conocer más</button>
							<span class="priority">
								<i class="icon-star"></i>
								<span>Caso prioritario</span>
							</span>
						</a>
					</div>
					<div class="card">
						<div class="img-pet">
							<a href="interna-pet.html">
								<img class="img-responsive" src="http://huellitas.social/img/18865/big">
							</a>
						</div>
						<a href="interna-pet.html">
							<h3>VIANCA</h3>
							<p>Hembra - 3 meses</p>
							<button type="button" class="btn btn-lg">Conocer más</button>
							<span class="priority">
								<i class="icon-star"></i>
								<span>Caso prioritario</span>
							</span>
						</a>
					</div>
					<div class="card">
						<div class="img-pet">
							<a href="interna-pet.html">
								<img class="img-responsive" src="http://huellitas.social/img/18865/big">
							</a>
						</div>
						<a href="interna-pet.html">
							<h3>VIANCA</h3>
							<p>Hembra - 3 meses</p>
							<button type="button" class="btn btn-lg">Conocer más</button>
							<span class="priority">
								<i class="icon-star"></i>
								<span>Caso prioritario</span>
							</span>
						</a>
					</div>
					<div class="card">
						<div class="img-pet">
							<a href="">
								<img class="img-responsive" src="http://huellitas.social/img/18865/big">
							</a>
						</div>
						<a href="">
							<h3>VIANCA</h3>
							<p>Hembra - 3 meses</p>
							<button type="button" class="btn btn-lg">Conocer más</button>
							<span class="priority">
								<i class="icon-star"></i>
								<span>Caso prioritario</span>
							</span>
						</a>
					</div>
					<div class="card">
						<div class="img-pet">
							<a href="">
								<img class="img-responsive" src="http://huellitas.social/img/18865/big">
							</a>
						</div>
						<a href="">
							<h3>VIANCA</h3>
							<p>Hembra - 3 meses</p>
							<button type="button" class="btn btn-lg">Conocer más</button>
							<span class="priority">
								<i class="icon-star"></i>
								<span>Caso prioritario</span>
							</span>
						</a>
					</div>
					<div class="card">
						<div class="img-pet">
							<a href="">
								<img class="img-responsive" src="http://huellitas.social/img/18865/big">
							</a>
						</div>
						<a href="">
							<h3>VIANCA</h3>
							<p>Hembra - 3 meses</p>
							<button type="button" class="btn btn-lg">Conocer más</button>
							<span class="priority">
								<i class="icon-star"></i>
								<span>Caso prioritario</span>
							</span>
						</a>
					</div>
					<div class="card">
						<div class="img-pet">
							<a href="">
								<img class="img-responsive" src="http://huellitas.social/img/18865/big">
							</a>
						</div>
						<a href="">
							<h3>VIANCA</h3>
							<p>Hembra - 3 meses</p>
							<button type="button" class="btn btn-lg">Conocer más</button>
							<span class="priority">
								<i class="icon-star"></i>
								<span>Caso prioritario</span>
							</span>
						</a>
					</div>
					<div class="card">
						<div class="img-pet">
							<a href="">
								<img class="img-responsive" src="http://huellitas.social/img/18865/big">
							</a>
						</div>
						<a href="">
							<h3>VIANCA</h3>
							<p>Hembra - 3 meses</p>
							<button type="button" class="btn btn-lg">Conocer más</button>
							<span class="priority">
								<i class="icon-star"></i>
								<span>Caso prioritario</span>
							</span>
						</a>
					</div>
					<br/>
					<button type="button" class="btn btn-lg btn-more">Ver más</button>
				</div>
			</article>
		</section>
		<footer>
			<div class="redes">
				<a href=""><span class="icon-face"></span></a>
				<a href=""><span class="icon-insta"></span></a>
			</div>
			<p>© 2017 Huellitas sin hogar. All rights reserved.</p>
		</footer>
	</div>

	<!-- Modal login -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog login" role="document">
	    <div class="modal-content">
	    	<div class="modal-header">
	    		<h4 class="tit-modal">REGISTRO</h4>
	    		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		        	<span class="icon-close" aria-hidden="true"></span>
		        </button>
	    	</div>
	    	<form>
		    	<div class="login_redes">
		    		<button>
		    			<span class="icon-face"></span>
		    		</button>
		    		<button>
		    			<span class="icon-google-plus"></span>
		    		</button>
		    		<button>
		    			<span class="icon-twt"></span>
		    		</button>
		    		<p>o con</p>
		    	</div>
		    	<div>
		    		<input type="text" placeholder="Nombre:">
					<span class="error"></span>
		    	</div>
		    	<div>
		    		<input type="email" placeholder="email:">
					<span class="error"></span>
		    	</div>
		    	<div>
		    		<input type="password" placeholder="Contraseña:">
					<span class="error"></span>
		    	</div>
		    	<div>
		    		<input type="password" placeholder="Confirmar contraseña:">
					<span class="error"></span>
		    	</div>
		    	<div class="box-log">
		    		<a href="">Ya estoy registrado</a><br/>
					Haciendo clic en registrarme aceptas <a target="_blank" href="">Términos y condiciones</a>
                </div>
                <input type="submit" value="Registrarme" class="btn btn-lg btn-save">
		    </form>
	    </div>
	  </div>
	</div>
</body>
</html>