<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Huellitas</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="../content/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="../content/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../content/css/styles.css" />

    <!--[if IE]>
		<script type="text/javascript">
			 var console = { log: function() {} };
		</script>
	<![endif]-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../content/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-animate.min.js"></script>
</head>
<body ng-app="ngAnimate">
	<header>
		<div class="content-all">
			<div class="main-menu"><span class="icon-menu"></span></div>
			<h1 class="logo">
			<a href="/">
				<img src="../content/images/logo.svg">
				<span>Huellitas sin hogar - Ayuda a adoptar mascotas</span>
			</a>
			</h1>
			<nav class="menu">
				<h2><a class="active" href="index.html">Inicio</a></h2>
				<h2><a href="huellitas.html">En adopción</a></h2>
				<h2><a href="perdidos.html">Perdidos</a></h2>
				<h2><a href="fundaciones.html">Fundaciones</a></h2>
				<h2><a href="porque.html">¿Por qué adoptar?</a></h2>
				<br/>
			</nav>
			<div class="user-wraper">
				<!--<a class="login" href="">Iniciar sesión</a>-->
				<a class="btn-noti" href="notificaciones.html">
					<i class="icon-noti"></i>
					<span>00</span>
				</a>
				<div class="user-img" ng-click="checked = !checked">
					<div class="no-img">J</div>
					<img src="https://scontent.fbog2-1.fna.fbcdn.net/v/t1.0-1/p56x56/14368897_1083015501806273_3197812012577248045_n.jpg?oh=e0ba28e2d93f5a799ac2d262b2ff862c&oe=5959FBE8">
				</div>
				<br/>
				<div class="sub-wraper sample-show-hide" ng-show="checked">
					<h6>Julian Castillo</h6>
					<p>chechocast@gmail.com</p>
					<a href="mishuellitas.html">Mis huellitas</a>
					<a href="misdatos.html">Mis datos</a>
					<a href="javascript:;" data-toggle="modal" data-target="#myModal">Cerrar sesión</a>
				</div>
			</div>
			<br/>
		</div>
	</header>
	<div>
		<div class="home-banner">
			<ul>
				<!--<li class="banner-desta">
					<div class="pet-desta content-all">
						<div class="txt-pet">
							<a href="">
								<h3>DANNA</h3>
								<h4>Hembra - 3 meses</h4>
								<p>Danna es una perrita cruce con Pitbull que ha sido maltratada por su anterior familia y que hoy busca hogar. Llena el formulario de adopción.</p>
								<button type="button" class="btn btn-lg">Conocer más</button>
							</a>
						</div>
						<div class="box-pet-img">
							<a class="pet-img">
								<img class="img-responsive" src="http://huellitas.social/img/18865/big">
								<span class="priority">
									<i class="icon-star"></i>
									<span>Caso prioritario</span>
								</span>
							</a>
						</div>
						<br/>
					</div>
				</li>-->
				<li>
					<div class="event-desta">
						<div>
							<h3>TITULO PARA EL EVENTO DE MASCOTAS</h3>
							<h4>Subtitulo ubicacion y de mas</h4>
							<p>Descripcion del evento o informacion que se quiere dar a lso usuarios de huellitas sin hogar.</p>
							<button type="button" class="btn btn-lg">Conocer más</button>
						</div>
					</div>
					<img class="img-banner" src="https://image.shutterstock.com/z/stock-photo-beauty-woman-with-her-dog-playing-outdoors-443728036.jpg" >
				</li>
			</ul>
		</div>
		<section>
			<article class="content-all">
				<div class="content-card col-md-12">
					<div class="card">
						<div class="img-pet">
							<a href="interna-pet.html">
								<img class="img-responsive" src="http://huellitas.social/img/18865/big">
							</a>
						</div>
						<a href="interna-pet.html">
							<h3>VIANCA</h3>
							<p>Hembra - 3 meses</p>
							<button type="button" class="btn btn-lg">Conocer más</button>
							<span class="priority">
								<i class="icon-star"></i>
								<span>Caso prioritario</span>
							</span>
						</a>
					</div>
					<div class="card">
						<div class="img-pet">
							<a href="interna-pet.html">
								<img class="img-responsive" src="http://huellitas.social/img/18865/big">
							</a>
						</div>
						<a href="interna-pet.html">
							<h3>VIANCA</h3>
							<p>Hembra - 3 meses</p>
							<button type="button" class="btn btn-lg">Conocer más</button>
							<span class="priority"></span>
						</a>
					</div>
					<div class="card">
						<div class="img-pet">
							<a href="interna-pet.html">
								<img class="img-responsive" src="http://huellitas.social/img/18865/big">
							</a>
						</div>
						<a href="interna-pet.html">
							<h3>VIANCA</h3>
							<p>Hembra - 3 meses</p>
							<button type="button" class="btn btn-lg">Conocer más</button>
							<span class="priority"></span>
						</a>
					</div>
					<div class="card">
						<div class="img-pet">
							<a href="interna-pet.html">
								<img class="img-responsive" src="http://huellitas.social/img/18865/big">
							</a>
						</div>
						<a href="interna-pet.html">
							<h3>VIANCA</h3>
							<p>Hembra - 3 meses</p>
							<button type="button" class="btn btn-lg">Conocer más</button>
							<span class="priority"></span>
						</a>
					</div>
					<div class="card">
						<div class="img-pet">
							<a href="interna-pet.html">
								<img class="img-responsive" src="http://huellitas.social/img/18865/big">
							</a>
						</div>
						<a href="interna-pet.html">
							<h3>VIANCA</h3>
							<p>Hembra - 3 meses</p>
							<button type="button" class="btn btn-lg">Conocer más</button>
							<span class="priority"></span>
						</a>
					</div>
					<div class="card">
						<div class="img-pet">
							<a href="interna-pet.html">
								<img class="img-responsive" src="http://huellitas.social/img/18865/big">
							</a>
						</div>
						<a href="interna-pet.html">
							<h3>VIANCA</h3>
							<p>Hembra - 3 meses</p>
							<button type="button" class="btn btn-lg">Conocer más</button>
							<span class="priority">
								<i class="icon-star"></i>
								<span>Caso prioritario</span>
							</span>
						</a>
					</div>
					<br/>
				</div>
			</article>
		</section>
		<section class="h-funda">
			<article class="content-all col-md-12">
				<h2 class="tit-section col-md-12">FUNDACIONES</h2>
				<div class="sub-title col-md-12">Estas son algunas de las fundaciones que puedes encontrar con nosotros</div>
				<ul>
					<li><img src="http://huellitas.social/images/fundaciones/logo13025.png"></li>
					<li><img src="http://huellitas.social/images/fundaciones/logo13025.png"></li>
					<li><img src="http://huellitas.social/images/fundaciones/logo13025.png"></li>
					<li><img src="http://huellitas.social/images/fundaciones/logo13025.png"></li>
					<br />
				</ul>
				<button type="button" class="btn btn-lg">Ver todas</button>
			</article>
		</section>
		<section>
			<article class="content-all col-md-12">
				<ul class="apoyo">
					<li>
						<span class="icon-cayuda"></span>
						<div class="box-txt">
							<h3>COMO AYUDAR</h3>
							<p>Cada dia se ven miles de animales abandonados en la calle que no tienen quién se responsabilice por ellos. Maneras de ayudar hay muchas, entre ellas: Puedes ser voluntario, ser hogar temporar o apadrinar uno de estos animalitos en algún albergue.</p>
							<a class="btn btn-lg" href="">Conocer más</a>
						</div>
						<br/>
					</li>
					<li>
						<span class="icon-mperdida"></span>
						<div class="box-txt">
							<h3>APADRINAR</h3>
							<p>Si no puedes adoptar y deseas ayudar a un animal lo puedes apadrinar. Consiste en ofrecer un aporte voluntario mensual para su sustento hasta el día en que sea adoptado. Con esto, el animal que escojas, ya sea de la calle o de alguna fundación existente tendrá una buena calidad de vida mientras encuentra un verdadero hogar.</p>
							<a class="btn btn-lg" href="">Conocer más</a>
						</div>
						<br/>
					</li>
					<li>
						<span class="icon-huella"></span>
						<div class="box-txt">
							<h3>ADOPTAR</h3>
							<p>No compres, ADOPTA. Adoptando salvas la vida de dos animales, la de tu nuevo amigo y la del que ocupará su lugar, tan solo escoge la mascota de la cual quieres recibir todo su amor y compañia, diligencia el formulario y en poco tiempo nos comunicaremos contigo.</p>
							<a class="btn btn-lg" href="">Conocer más</a>
						</div>
						<br/>
					</li>
					<br/>
				</ul>
			</article>
		</section>
		<section class="bkg-gray">
			<article class="content-all">
				<h2 class="tit-section col-md-12">QUIENES SOMOS</h2>
				<div class="us col-md-12">
					<p>Huellitas sin hogar es el esfuerzo de un grupo de amigos por ayudar a los miles de animales que se encuentran desprotegidos y en las calles colombianas. Uno de los principales objetivos es por medio de la pagina promover la adopción y apadrinamiento de mascotas en las fundaciones que se dedican al cuidado de estos animales.</p>
					<p>No contamos con sede física ya que solo somos un medio de conexión entre las personas que buscan una mascota y los hogares de paso. Además de esto no recibimos , ni pedimos ningún tipo de ayuda económica, ya que es ayudar a los animales lo que nos mueve.</p>
					<p>Está es la primera versión de la pagina y esperamos poder seguir evolucionando para mejorar en algo esta problematica tan grande de nuestro pais.</p>
					<p>Por último, el equipo de huellitas sin hogar el cual ha donado su tiempo y conocimiento para la realización de este proyecto es el siguiente:</p>
				</div>
				<ul class="team">
					<li class="col-xs-12 col-sm-4">
						<img src="../content/images/img_beto.jpg">
						<h4>GABRIEL CASTILLO</h4>
						<p>Unicamente quiero ayudar a los animales</p>
					</li>
					<li class="col-xs-12 col-sm-4">
						<img src="../content/images/img_julian.jpg">
						<h4>JULIAN CASTILLO</h4>
						<p>Solo busco aportar para que se vea con otra cara la desprotección animal</p>
					</li>
					<li class="col-xs-12 col-sm-4">
						<img src="../content/images/img_erica.jpg">
						<h4>ERICA PRADO</h4>
						<p>La cultura de un pueblo se mide por la forma en la que trata a sus animales (Gandhi)</p>
					</li>
					<br/>
				</ul>
			</article>

		</section>
		<footer>
			<div class="redes">
				<a href=""><span class="icon-face"></span></a>
				<a href=""><span class="icon-insta"></span></a>
			</div>
			<p>© 2017 Huellitas sin hogar. All rights reserved.</p>
		</footer>
	</div>

	<!-- Modal login -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog login" role="document">
	    <div class="modal-content">
	    	<div class="modal-header">
	    		<h4 class="tit-modal">INICIA SESIÓN</h4>
	    		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		        	<span class="icon-close" aria-hidden="true"></span>
		        </button>
	    	</div>
	    	<form>
		    	<div class="login_redes">
		    		<button>
		    			<span class="icon-face"></span>
		    		</button>
		    		<button>
		    			<span class="icon-google-plus"></span>
		    		</button>
		    		<button>
		    			<span class="icon-twt"></span>
		    		</button>
		    		<p>o con</p>
		    	</div>
		    	<div>
		    		<input type="text" placeholder="email:">
					<span class="error"></span>
		    	</div>
		    	<div>
		    		<input type="password" placeholder="Contraseña:">
					<span class="error"></span>
		    	</div>
		    	<div class="box-log">
                    ¿Eres nuevo? <a href="">Regístrate</a><br>
                    <a href="">Recuperar contraseña</a>
                </div>
                <input type="submit" value="Entrar" class="btn btn-lg btn-save">
		    </form>
	    </div>
	  </div>
	</div>
</body>
</html>