<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Huellitas</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="../content/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="../content/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../content/css/styles.css" />

    <!--[if IE]>
		<script type="text/javascript">
			 var console = { log: function() {} };
		</script>
	<![endif]-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../content/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-animate.min.js"></script>
</head>
<body ng-app="ngAnimate">
	<header>
		<div class="content-all">
			<h1 class="logo">
			<a href="/">
				<img src="../content/images/logo.svg">
				<span>Huellitas sin hogar - Ayuda a adoptar mascotas</span>
			</a>
			</h1>
			<nav class="menu">
				<h2><a class="active" href="index.html">Inicio</a></h2>
				<h2><a href="huellitas.html">En adopción</a></h2>
				<h2><a href="perdidos.html">Perdidos</a></h2>
				<h2><a href="fundaciones.html">Fundaciones</a></h2>
				<h2><a href="porque.html">¿Por qué adoptar?</a></h2>
				<br/>
			</nav>
			<div class="user-wraper">
				<!--<a class="login" href="">Iniciar sesión</a>-->
				<a class="btn-noti" href="notificaciones.html">
					<i class="icon-noti"></i>
					<span>00</span>
				</a>
				<div class="user-img" ng-click="checked = !checked">
					<div class="no-img">J</div>
					<img src="https://scontent.fbog2-1.fna.fbcdn.net/v/t1.0-1/p56x56/14368897_1083015501806273_3197812012577248045_n.jpg?oh=e0ba28e2d93f5a799ac2d262b2ff862c&oe=5959FBE8">
				</div>
				<br/>
			</div>
			<br/>
		</div>
	</header>
	<div class="pg-body">
		<section>
			<article class="content-all">

			</article>
		</section>
		<footer>
			<div class="redes">
				<a href=""><span class="icon-face"></span></a>
				<a href=""><span class="icon-insta"></span></a>
			</div>
			<p>© 2018 Pollaya. All rights reserved.</p>
		</footer>
	</div>

	<!-- Modal login -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog login" role="document">
	    <div class="modal-content">
	    	<div class="modal-header">
	    		<h4 class="tit-modal">INICIA SESIÓN</h4>
	    		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		        	<span class="icon-close" aria-hidden="true"></span>
		        </button>
	    	</div>
	    	<form>
		    	<div class="login_redes">
		    		<button>
		    			<span class="icon-face"></span>
		    		</button>
		    		<button>
		    			<span class="icon-google-plus"></span>
		    		</button>
		    		<button>
		    			<span class="icon-twt"></span>
		    		</button>
		    		<p>o con</p>
		    	</div>
		    	<div>
		    		<input type="text" placeholder="email:">
					<span class="error"></span>
		    	</div>
		    	<div>
		    		<input type="password" placeholder="Contraseña:">
					<span class="error"></span>
		    	</div>
		    	<div class="box-log">
                    ¿Eres nuevo? <a href="">Regístrate</a><br>
                    <a href="">Recuperar contraseña</a>
                </div>
                <input type="submit" value="Entrar" class="btn btn-lg btn-save">
		    </form>
	    </div>
	  </div>
	</div>
</body>
</html>