<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Huellitas</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="../content/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="../content/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../content/css/styles.css" />

    <!--[if IE]>
		<script type="text/javascript">
			 var console = { log: function() {} };
		</script>
	<![endif]-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../content/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-animate.min.js"></script>
</head>
<body ng-app="ngAnimate">
	<header class="inner-header">
		<div class="content-all">
			<div class="main-menu"><span class="icon-menu"></span></div>
			<h1 class="logo">
			<a href="/">
				<img src="../content/images/logo.svg">
				<span>Huellitas sin hogar - Ayuda a adoptar mascotas</span>
			</a>
			</h1>
			<nav class="menu">
				<h2><a class="active" href="index.html">Inicio</a></h2>
				<h2><a href="huellitas.html">En adopción</a></h2>
				<h2><a href="perdidos.html">Perdidos</a></h2>
				<h2><a href="fundaciones.html">Fundaciones</a></h2>
				<h2><a href="porque.html">¿Por qué adoptar?</a></h2>
				<br/>
			</nav>
			<div class="user-wraper">
				<!--<a class="login" href="">Iniciar sesión</a>-->
				<a class="btn-noti" href="notificaciones.html">
					<i class="icon-noti"></i>
					<span>00</span>
				</a>
				<div class="user-img">
					<div class="no-img">J</div>
					<img src="https://scontent.fbog2-1.fna.fbcdn.net/v/t1.0-1/p56x56/14368897_1083015501806273_3197812012577248045_n.jpg?oh=e0ba28e2d93f5a799ac2d262b2ff862c&oe=5959FBE8">
				</div>
				<br/>
				<div class="sub-wraper">
					<h6>Julian Castillo</h6>
					<p>chechocast@gmail.com</p>
					<a href="mishuellitas.html">Mis huellitas</a>
					<a href="misdatos.html">Mis datos</a>
					<a href="">Cerrar sesión</a>
				</div>
			</div>
			<br/>
		</div>
	</header>
	<div class="pg-body col-md-12">
		<div class="box-edit">
			<a class="btn btn-lg" href=""><span class="icon-edit"></span> Editar</a>
		</div>
		<section class="bkg-gray">
			<article class="content-all">
				<h1 class="tit-section name-pet col-md-12">
					Danna
					<a class="btn btn-sm" href="">Compartir</a>
				</h1>
				<div class="gallery-content col-md-12">
					<div class="carousel-content">
						<img src="http://huellitas.social/img/20065/big">
						<div class="btn-carousel">
							<a class="thumb-prev" href=""><span class="icon-prev"></span></a>
							<a class="thumb-next" href=""><span class="icon-next"></span></a>
						</div>
					</div>
					<ul class="nav-thumbnail">
						<li>
							<img class="active" src="http://huellitas.social/img/20075/big" />
							<img src="http://huellitas.social/img/20075/big" />
							<img src="http://huellitas.social/img/20075/big" />
							<img src="http://huellitas.social/img/20075/big" />
							<img src="http://huellitas.social/img/20075/big" />
							<img src="http://huellitas.social/img/20075/big" />
						</li>
					</ul>
				</div>
				<ul class="data-list col-md-12">
					<li>
						Tamaño
						<b>Grande</b>
					</li>
					<li>
						Tamaño
						<b>Grande</b>
					</li>
					<li>
						Tamaño
						<b>Grande</b>
					</li>
					<li>
						Tamaño
						<b>Grande</b>
					</li>
					<li>
						Tamaño
						<b>Grande</b>
					</li>
					<li>
						Tamaño
						<b>Grande</b>
					</li>
					<br/>
				</ul>
				<div class="col-md-12">
					<p class="inner-text">Danna es una perrita cruce con Pitbull que ha sido maltratada por su anterior familia y que hoy busca hogar. Llena el formulario de adopción.</p>
				</div>
				<div class="box-btn">
					<a class="btn btn-lg btn-fixed" href="form-adopcion.html">Quiero adoptarl@</a>
					<a class="btn btn-lg" href="">Apadriname</a>
				</div>
				<div class="box-contact col-md-12">
					<h5>Contacto:</h5>
					<div class="funda-img">
						<img src="http://huellitas.social/images/fundaciones/logo13025.png">
					</div>
					<div class="funda-txt">
						<h3>DAME VIDA ORG</h3>
						<h4>
							TENJO / Encargado: Hernán Moncada <br>
							Telefono: 3017501999 Celular: 3017501999
						</h4>
					</div>
					<br>
				</div>
			</article>
		</section>
		<section style="padding: 40px 0 15px;">
			<article class="content-all col-md-12">
				<h2 class="tit-section">Mascotas similares</h2>
				<div class="content-lost">
					<div class="card">
						<div class="img-pet">
							<a href="">
								<img class="img-responsive" src="http://huellitas.social/img/18865/big">
							</a>
						</div>
						<a href="">
							<h3>VIANCA</h3>
							<p>Hembra - 3 meses</p>
						</a>
					</div>
					<div class="card">
						<div class="img-pet">
							<a href="">
								<img class="img-responsive" src="http://huellitas.social/img/18865/big">
							</a>
						</div>
						<a href="">
							<h3>VIANCA</h3>
							<p>Hembra - 3 meses</p>
						</a>
					</div>
					<div class="card">
						<div class="img-pet">
							<a href="">
								<img class="img-responsive" src="http://huellitas.social/img/18865/big">
							</a>
						</div>
						<a href="">
							<h3>VIANCA</h3>
							<p>Hembra - 3 meses</p>
						</a>
					</div>
					<div class="card">
						<div class="img-pet">
							<a href="">
								<img class="img-responsive" src="http://huellitas.social/img/18865/big">
							</a>
						</div>
						<a href="">
							<h3>VIANCA</h3>
							<p>Hembra - 3 meses</p>
						</a>
					</div>
					<br/>
				</div>
			</article>
		</section>
		<section class="bkg-gray">
			<article class="content-all">
				<h1 class="tit-section col-md-12">COMENTARIOS</h1>
				<div class="sub-title col-md-12">Deja tus comentarios que son muy importatenes para nosotros</div>
				<form class="coment-form col-md-12">
					<textarea placeholder="Dejanos tu comentario"></textarea>
					<a class="btn btn-lg" href="">Comentar</a>
				</form>
				<ul class="content-coment col-md-12">
					<li>
						<h4>Danilo sabogal - 2015-09-27T12:31:24.417</h4>
						<p>Buenas tardes estoy en busca de un perrito en adopcion para mi hijo me gustaria mucho una raza pequeña. Agradezco su colaboración.</p>
					</li>
					<li>
						<h4>Danilo sabogal - 2015-09-27T12:31:24.417</h4>
						<p>Hola me gusataria como llegar a la fundación vivo en la ciudad de bogota, ósea se que queda en tenjo pero como me dirijo hasta aya y si al ser aprobada la adopción hay que dar algo.</p>
						<div class="sub-coment">
							<span class="icon-coment"></span>
							<p>Claro que si Daniel ósea se que queda en tenjo pero como me dirijo hasta aya y si al ser aprobada la adopción hay que dar algo.</p>
							<br/>
						</div>
					</li>
					<li>
						<h4>Danilo sabogal - 2015-09-27T12:31:24.417</h4>
						<p>Buenas tardes estoy en busca de un perrito en adopcion para mi hijo me gustaria mucho una raza pequeña. Agradezco su colaboración.</p>
						<a href=""><span class="icon-coment"></span> Responder</a>
					</li>
					<li>
						<h4>Danilo sabogal - 2015-09-27T12:31:24.417</h4>
						<p>Buenas tardes estoy en busca de un perrito en adopcion para mi hijo me gustaria mucho una raza pequeña. Agradezco su colaboración.</p>
						<form class="coment-form">
							<textarea placeholder="Dejanos tu comentario"></textarea>
							<a class="btn btn-lg" href="">Comentar</a>
						</form>
					</li>
				</ul>
				<button type="button" class="btn-more btn btn-lg">Ver más</button>
			</article>
		</section>
		<footer>
			<div class="redes">
				<a href=""><span class="icon-face"></span></a>
				<a href=""><span class="icon-insta"></span></a>
			</div>
			<p>© 2017 Huellitas sin hogar. All rights reserved.</p>
		</footer>
	</div>
</body>
</html>