<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Huellitas</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="../content/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="../content/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../content/css/styles.css" />

    <!--[if IE]>
		<script type="text/javascript">
			 var console = { log: function() {} };
		</script>
	<![endif]-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../content/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-animate.min.js"></script>
</head>
<body ng-app="ngAnimate">
	<div class="noti-back content-all">
		<a href="index.html"><span class="icon-prev"></span>
		Volver</a>
	</div>
	<div class="col-md-12">
		<article class="content-all">
			<div class="content-form">
				<h2 class="tit-form">NOTIFICACIONES</h2>
				<ul class="notification">
					<li>
						<p><div class="new"></div> Pedro Perez comento en Pepa</p>
						<span>Marzo 14 2017, 8:24 pm</span>
					</li>
					<li>
						<p>Pedro Perez comento en Pepa</p>
						<span>Marzo 14 2017, 8:24 pm</span>
					</li>
					<li>
						<p>Pedro Perez comento en Pepa</p>
						<span>Marzo 14 2017, 8:24 pm</span>
					</li>
					<li>
						<p>Pedro Perez comento en Pepa</p>
						<span>Marzo 14 2017, 8:24 pm</span>
					</li>
					<li>
						<p>Pedro Perez comento en Pepa</p>
						<span>Marzo 14 2017, 8:24 pm</span>
					</li>
					<li>
						<p>Pedro Perez comento en Pepa</p>
						<span>Marzo 14 2017, 8:24 pm</span>
					</li>
					<li>
						<p>Pedro Perez comento en Pepa</p>
						<span>Marzo 14 2017, 8:24 pm</span>
					</li>
					<li>
						<p>Pedro Perez comento en Pepa</p>
						<span>Marzo 14 2017, 8:24 pm</span>
					</li>
					<li>
						<p>Pedro Perez comento en Pepa</p>
						<span>Marzo 14 2017, 8:24 pm</span>
					</li>
					<li>
						<p>Pedro Perez comento en Pepa</p>
						<span>Marzo 14 2017, 8:24 pm</span>
					</li>
					<li>
						<p>Pedro Perez comento en Pepa</p>
						<span>Marzo 14 2017, 8:24 pm</span>
					</li>
					<li>
						<p>Pedro Perez comento en Pepa</p>
						<span>Marzo 14 2017, 8:24 pm</span>
					</li>
					<li>
						<p>Pedro Perez comento en Pepa</p>
						<span>Marzo 14 2017, 8:24 pm</span>
					</li>
				</ul>
				<button type="button" class="btn btn-lg btn-more">Ver más</button>
			</div>
		</article>
	</div>
</body>
</html>