<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Huellitas</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="../content/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="../content/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../content/css/styles.css" />
    <link rel="stylesheet" type="text/css" href="../content/css/jquery.fullPage.css" />

    <!--[if IE]>
		<script type="text/javascript">
			 var console = { log: function() {} };
		</script>
	<![endif]-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>

    <script type="text/javascript" src="../content/js/scrolloverflow.min.js"></script>

	<script type="text/javascript" src="../content/js/jquery.fullPage.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$('#fullpage').fullpage({
				sectionsColor: ['#FFF', '#7CD2E1', '#B8EA81', '#FC9282', '#304A6F', '#3C75C2'],
				navigation: true,
				navigationPosition: 'right',
				navigationTooltips: ['Adopta', 'Tiempo', 'Dinero', 'Hogar', 'Responsable', 'Tu mascota']
			});
		});
	</script>

</head>
<body ng-app="ngAnimate">
	<header class="inner-header">
		<div class="content-all">
			<div class="main-menu"><span class="icon-menu"></span></div>
			<h1 class="logo">
			<a href="/">
				<img src="../content/images/logo.svg">
				<span>Huellitas sin hogar - Ayuda a adoptar mascotas</span>
			</a>
			</h1>
			<nav class="menu">
				<h2><a class="active" href="index.html">Inicio</a></h2>
				<h2><a href="huellitas.html">En adopción</a></h2>
				<h2><a href="perdidos.html">Perdidos</a></h2>
				<h2><a href="fundaciones.html">Fundaciones</a></h2>
				<h2><a href="porque.html">¿Por qué adoptar?</a></h2>
				<br/>
			</nav>
			<div class="user-wraper">
				<!--<a class="login" href="">Iniciar sesión</a>-->
				<a class="btn-noti" href="notificaciones.html">
					<i class="icon-noti"></i>
					<span>00</span>
				</a>
				<div class="user-img">
					<div class="no-img">J</div>
					<img src="https://scontent.fbog2-1.fna.fbcdn.net/v/t1.0-1/p56x56/14368897_1083015501806273_3197812012577248045_n.jpg?oh=e0ba28e2d93f5a799ac2d262b2ff862c&oe=5959FBE8">
				</div>
				<br/>
				<div class="sub-wraper">
					<h6>Julian Castillo</h6>
					<p>chechocast@gmail.com</p>
					<a href="mishuellitas.html">Mis huellitas</a>
					<a href="misdatos.html">Mis datos</a>
					<a href="">Cerrar sesión</a>
				</div>
			</div>
			<br/>
		</div>
	</header>

	<section id="fullpage" class="content-pq">
		<div class="section active pq-1">
			<div class="box-pq">
				<h3>ADOPTA</h3>
				<p>Si estás pensando en adoptar un animal tómate un momento para pensar lo siguiente:</p>
			</div>
			<img class="img-pq" src="../content/images/img_adopta1.png">
			<h1 class="tit-pq">¿POR QUÉ QUIERES UNA MASCOTA?</h1>
			<p>Es importante pensar en la razón principal para querer compartir tu hogar con una mascota, adoptar un animal simplemente para que cuide la casa o por capricho de los niños generalmente termina en un gran error. Debes tener en cuenta que algunas mascotas pueden estar contigo 10, 15 o incluso 20 años.</p>
			<div class="wrap-down">
				<i class="icon-down animated slideInDown infinite"></i>
				<span>Scroll</span>
			</div>
		</div>
		<div class="section pq-2">
			<img class="img-pq" src="../content/images/img_adopta2.png">
		    <h2 class="tit-pq">¿TIENES TIEMPO PARA UNA MASCOTA?</h2>
		    <p>Además de ser alimentados, perros y gatos necesitan de tu compañía, cariño y atención. Es importante considerar el tiempo que tendrás disponible para tu mascota, muchos animales terminan siendo abandonados por que sus dueños no pensaron en el factor tiempo.</p>
		    <div class="wrap-down">
				<i class="icon-down animated slideInDown infinite"></i>
				<span>Scroll</span>
			</div>
		</div>
		<div class="section pq-3">
			<img class="img-pq" src="../content/images/img_adopta3.png">
		    <h2 class="tit-pq">¿ERES ECONÓMICAMENTE CAPAZ DE TENER UNA MASCOTA?</h2>
		    <p>Comida, asistencia veterinaria, medicamentos, juguetes, vacunas, todos estos son gastos que se deben asumir cuando se está a cargo de una mascota además de los daños que pueden llegar a ocasionar en los muebles y cosas de tu hogar.</p>
		    <div class="wrap-down">
				<i class="icon-down animated slideInDown infinite"></i>
				<span>Scroll</span>
			</div>
		</div>
		<div class="section pq-4">
			<img class="img-pq" src="../content/images/img_adopta4.png">
		    <h2 class="tit-pq">¿ES TU HOGAR UN SITIO APTO PARA TENER MASCOTA?</h2>
		    <p>Es importante que todos los miembros de la familia estén de acuerdo con la llegada de una mascota, debes considerar si hay personas alérgicas o que no puedan convivir con perros o gatos. Debes tener identificado un sitio apto para que tu nueva mascota haga sus necesidades.</p>
		    <div class="wrap-down">
				<i class="icon-down animated slideInDown infinite"></i>
				<span>Scroll</span>
			</div>
		</div>
		<div class="section pq-5">
			<img class="img-pq" src="../content/images/img_adopta5.png">
		    <h2 class="tit-pq">¿SERÁS UN DUEÑO RESPONSABLE?</h2>
		    <p>Debes estar dispuesto a aceptar al animal como un nuevo integrante de la familia quien merece todo el amor y respeto, además debes cumplir con ciertas normas comunitarias que harán que tu mascota pueda convivir sin problemas con las personas que lo rodean.</p>
		    <div class="wrap-down">
				<i class="icon-down animated slideInDown infinite"></i>
				<span>Scroll</span>
			</div>
		</div>
		<div class="section pq-6">
			<img class="img-pq" src="../content/images/img_adopta6.png">
		    <h2 class="tit-pq">ENCUENTRA TU MASCOTA</h2>
		    <p>Ahora puedes empezar a buscar tu nuevo amigo.</p>
		    <a class="btn btn-lg" href="">Ver huellitas</a>
		</div>
	</section>
</body>
</html>