@import 'normalize';
@import 'icons';
@import 'mixins';

/*COLORS*/
$black: #000;
$dark: #2A292E;
$gray: #606060;
$gray2: #808080;
$gray3: #A1A1A1;
$gray4: #D8D8D8;
$green: #2FC594;
$green2: #187C5E;
$bor-gray: 1px solid #E2E4E7;
$bor-green: 1px solid #2DCB9A;
$white: #FFF;
$text-color: #676767;


body{
    font-family: 'Source Sans Pro', sans-serif;
    color: $text-color;
    font-weight: 400;
    font-size: 14px;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin: 0;
}
a {
    cursor: pointer;
    text-decoration: none !important;
    word-break: break-all;
    color: $green;
}
br{
    clear: both;
}
p {
    margin: 0;
    padding: 8px 0;
    font-weight: 300;
}
address{
    font-style: inherit;
}
input, select, textarea {
    border: none;
    outline: none;
    color: $text-color;
}
input[type="text"], [type="password"], [type="number"], [type="email"], [type="date"], [type="search"], [type="tel"], [type="url"], [type="week"], [type="time"], select{
    -webkit-appearance: none;
    background: $white;
    border: none;
    box-sizing: border-box;
    border: $bor-gray;
}

input[type="text"]:focus, input[type="email"]:focus {
}

input[type="text"]:-ms-input-placeholder, input[type="email"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder, textarea:-ms-input-placeholder {

}

input:focus, textarea:focus, select:focus {
    outline: 0 none;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    color: inherit;
}

select {
}
textarea{
    resize: none;
    box-sizing: border-box;
}
button{
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 0;
}
.content-all{
    width: 1024px;
    margin: 0 auto;
    position: relative;

    @include lg{
        width: 960px;
    }
    @include md {
        width: 768px;
    }

    @include sm {
        width: 600px;
    }

    @include s {
        width: 540px;
    }

    @include xs {
        width: 480px;
    }

    @include xxs {
        width: 375px;
    }

    @include i6 {
        width: 360px;
    }

    @include i5 {
        width: 320px;
    }

    @include xxxs {
        width: 90%;
    }
}

/*HEADER*/
header{
    height: 100px;
    padding: 10px 20px;
    box-sizing: border-box;
    background: $white;

    @include s{
        background: $white;
    }
}
.navbar{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
}
.logo{
    height: 80px;
    max-width: 130px;
    padding: 0;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    z-index: 0;
    float: left;

    @include i5{
        position: relative;
        top: auto;
        width: auto;
        left: auto;
        float: left;
        margin: 0 0 0 40px;
    }
    @include xxxs{
        height: 35px;
        margin: 2px 0 2px 40px;
    }

    img{
        height: 100%;
        width: auto;
    }

    span{
        position: absolute;
        text-indent: -99999px;
        right: 0;
    }
}

.content-menus{
    float: right;
}
.hd-contact{
    margin: 0 0 20px;

    span{
        font-family: 'Oswald', sans-serif;
        font-size: 20px;
        float: right;
        display: block;
        text-align: right;
        letter-spacing: 0.1875rem;
        font-weight: 300;
    }

    .redes{
        margin: 0 0 0 20px;
        float: right;

        a{
            width: 26px;
            height: 26px;
            font-size: 14px;
            margin: 0 3px;

            [class^="icon-"]{
                line-height: 26px;
            }
        }
    }   
}
/*FIN HEADER*/

/*MENU*/
.menu-header{
    list-style: none;

    li{
        display: inline-block;
        padding: 5px;
        margin: 0 0 0 60px;
        font-size: 16px;

        &.active{
            font-weight: 900;
            text-decoration: underline;
        }

        &:first-child{
            margin: 0;
        }
    }
}

/*FIN MENU*/

/*HOME*/
.home-block{
    padding: 40px 0;
}
.prueba-banner{
    background: $gray;
    height: 460px;
}
.title{
    text-align: center;
    font-weight: 900;
    color: $gray;
    font-size: 30px; 
    letter-spacing: 0.3125rem;

    @include sm{
        font-size: 28px;
        letter-spacing: .2rem;
    }
}

.bt-itn{
    text-align: center;
    display: block;
    font-size: 18px;
    margin: 3px 0 0;
}
.client-feedbacks{
    border-top: $bor-gray;
    border-bottom: $bor-gray;
    padding: 20px 0;

    .client-img{
        @include circle(110px);
        float: left;
        margin: 0 70px 0 30px;

        @include md{
            margin: 0 70px 0 0;
        }

        @include sm{
            margin: 0 50px 0 0;
        }

        @include s{
            float: none;
            margin: 0 auto;
        }

        img{
            display: block;
            width: 100%;
        }
    }

    .feedback-box{
        width: calc(100% - 270px);
        float: left;

        @include sm{
            width: calc(100% - 195px);
        }
        @include s{
            width: calc(100% - 70px);
            margin: 10px 35px 0;
            text-align: center;
        }

        .message{
            color: $gray2;
            font-weight: 600;
            font-style: italic;
            letter-spacing: 0.01875rem;
            margin: 0;
            position: relative;

            &:before, &:after{
                content: "\e900";
                font-family: 'icomoon' !important;
                speak: none;
                font-style: normal;
                font-weight: normal;
                font-variant: normal;
                text-transform: none;
                line-height: 1;
                font-size: 40px;
                position: absolute;
                top: 0;

                @include sm{
                    font-size: 25px;
                }
            }

            &:before{
                content: "\e900";
                left: -55px;

                @include sm{
                   left: -35px; 
                }
            }
            &:after{
                content: "\e902";
                right: -55px;

                @include sm{
                   right: -35px; 
                }
            }
        }
        .client{
            color: $green;
            font-size: 21px;
            line-height: 100%;
            margin: 5px 0 0;

            @include sm{
                font-size: 18px;
                margin: 10px 0 0;
            }

            span{
                display: block;
            }

            &-name{
                font-weight: 600;

                &:before{
                    content: "- ";
                }
                &:after{
                    content: " -";
                }

            }
            &-company{
                font-weight: 300;
            }
        }
    }
}
.clients-carrusel{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-gap: 30px;

    .client-box{
        
        img{
            width: 100%;
            display: block;
        }
    }
}
/*FIN HOME*/

/*PROYECTOS*/
.list-projects{
    list-style: none;
    margin: 40px 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;

    li{

        &:first-child{
            grid-column: 1 / 3;
            grid-row: 1 / 3;

            .text-project{
                font-size: 28px;

                .icon-plus{
                    font-size: 45px;
                }
            }
        }
        &:nth-child(odd){

        }

        a{
            position: relative;
            display: block;
            overflow: hidden;

            &:hover{

                .text-project{
                    @include transition(0.5s);
                    opacity: 1;
                }
            }
        }

        .text-project{
            background: rgba(0, 0, 0, 0.5);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            font-size: 16px;
            color: $white;
            opacity: 0;

            h3{
                bottom: 20px;
                left: 20px;
                position: absolute;
                box-sizing: border-box;
            }

            .icon-plus{
                right: 20px;
                bottom: 30px;
                position: absolute;
                font-size: 25px;
            }
        }

        img{
            display: block;
            width: 100%;
        }
    }
}
/*FIN PROYECTOS*/

/*INTERNA*/
.inter-project{
    padding: 40px 0;
}
.intet-text{
    float: left;
    width: 300px;
    margin: 0 30px 0 0;

    @include sm{
        width: 100%;
        float: none;
    }

    h1{
        font-size: 23px;
        text-align: left;
        color: $green;
        margin: 5px 0;
        position: relative;

        &:before{
            content: "";
            position: absolute;
            top: 10px;
            left: -15px;
            border-top: 10px solid $green;
            border-left: 10px solid transparent;
            @include rotate(45deg);
        }
    }
    label{
        font-size: 18px;
        font-weight: 300;
        color: $green;
    }
    time{
        font-size: 23px;
        font-weight: 900;
        color: $gray;
        margin: 10px 0 0;
        display: block;
    }
}
.img-principal{
    float: left;
    margin: 0;
    width: calc(100% - 330px);

    @include sm{
        width: 100%;
        float: none;
    }

    img{
        display: block;
        width: 100%;
    }

}
.gallery-project{
    margin: 40px 0;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;

    .img-pjt{

        img{
            display: block;
            width: 100%;
        }
    }
}
.btn-back{
    display: block;
    text-align: right;
    font-size: 18px;

}
/*FIN INTERNA*/

/*NOSOTROS*/
.content-us{
    margin: 40px auto;
    display: block;

    .title{
        color: $green;
    }

}
.middle-col{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 0 40px;

    @include sm{
        display: block;
    }

    &.c-us{
        justify-content: center;
        align-items: center;
    }
}
.img-us{
    background: $gray4;
    position: relative;

    @include sm{
        width: 90%;

        &:last-child{
            margin-left: 10%;
        }
    }

    img{
        width: 100%;
        display: block;

        &.mask{
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}
.mark-us{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: $white;
    margin: 60px 0;
    padding: 20px 60px;
    background: rgba(44,197,149,1);
    background: -moz-linear-gradient(left, rgba(44,197,149,1) 0%, rgba(43,126,135,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(44,197,149,1)), color-stop(100%, rgba(43,126,135,1)));
    background: -webkit-linear-gradient(left, rgba(44,197,149,1) 0%, rgba(43,126,135,1) 100%);
    background: -o-linear-gradient(left, rgba(44,197,149,1) 0%, rgba(43,126,135,1) 100%);
    background: -ms-linear-gradient(left, rgba(44,197,149,1) 0%, rgba(43,126,135,1) 100%);
    background: linear-gradient(to right, rgba(44,197,149,1) 0%, rgba(43,126,135,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2cc595', endColorstr='#2b7e87', GradientType=1 );

    @include md{
        padding: 20px;
        font-size: 16px;
    }

}
.txt-us{

    &:nth-child(odd){
        padding: 0 0 0 calc(100% - 500px);

        @include lg{
            padding: 0 0 0 calc(100% - 460px);
        }
        @include md{
            padding: 0 0 0 calc(100% - 363px);
        }
        @include sm {
            padding: 0 calc(50% - 300px);
        }

        @include s {
            padding: 0 calc(50% - 270px);
        }

        @include xs {
            padding: 0 calc(50% - 240px);
        }

        @include xxs {
            padding: 0 calc(50% - 188px);
        }

        @include i6 {
            padding: 0 calc(50% - 180px);
        }

        @include i5 {
            padding: 0 calc(50% - 160px);
        }

        @include xxxs {
            padding: 0 5%;
        }
    }

    @include sm {
        margin: 20px auto 30px;
        padding: 0 calc(50% - 300px);
    }

    @include s {
        padding: 0 calc(50% - 270px);
    }

    @include xs {
        padding: 0 calc(50% - 240px);
    }

    @include xxs {
        padding: 0 calc(50% - 188px);
    }

    @include i6 {
        padding: 0 calc(50% - 180px);
    }

    @include i5 {
        padding: 0 calc(50% - 160px);
    }

    @include xxxs {
        padding: 0 5%;
    }

    &.cinta-h{
        background: url(../images/img-cinta.svg) no-repeat right bottom;
        background-size: 70% auto;

        @include sm{
            padding-bottom: 40px;
            background-size: 50% auto;
        }
    }

    .title{
        text-align: left;
        margin: 0 0 15px;

        @include sm{
            text-align: center;
        }
    }

    p{
        max-width: 490px;
        padding: 4px 0;
        font-size: 14px;

        @include lg{
            max-width: 100%;
            width: 460px;
        }

        @include md{
            width: 363px;
        }

        @include sm{
            width: 100%;
        }

        b{
            font-weight: 900;
            color: $green;
        }
    }
}
.btn-more{
    display: inline-block;
    text-align: center;
    background: $green;
    @include circle(40px);
    color: $white;
    font-size: 15px;
    margin: 30px 0 0 450px;
    box-sizing: border-box;
    @include transition(0.3s);

    @include lg{
        margin: 30px 0 0 420px;
    }
    @include md{
        margin: 30px 0 0 323px;
    }
    @include sm{
        margin: 20px 0 0;
    }

    [class^="icon-"]{
        line-height: 40px;
    }
}

.box-doit{
    margin:20px 0 0;

    h3{
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;
        letter-spacing: 0.5625rem;
        color: $gray;
        font-size: 30px;
        border-bottom: $bor-gray;

        @include md{
            font-size: 25px;
        }
    }
    h4{
        color: $green;
        font-size: 23px;
        font-weight: 900;
        letter-spacing: 0.2875rem;
        margin: 20px 0;

        @include md{
            font-size: 20px;
        }
    }
    ul{
        font-size: 21px;
        color: $green;
        padding: 0 0 0 20px;

        @include md{
            font-size: 18px;
        }
        @include sm{
            font-size: 16px;
            margin: 0;
        }

        li{
            padding: 5px 0;

            span{
                color: $gray2;
            }
        }
    }

    .box-tools{
        margin:20px 0 30px;

        .tit-tools{
            width: 165px;
            font-size: 20px;
            float: left;
            margin: 0 30px 0 0;
            text-align: center;
            font-family: 'Oswald', sans-serif;
            text-transform: uppercase;
            letter-spacing: 0.25rem;

            @include md{
                width: 120px;
                font-size: 16px;
                letter-spacing: 0.09rem;
                margin: 0 15px 0 0;
            }

            span{
                display: block;
                background: $green;
                color: $white;
                @include border-radius(16px);
            }
        }
        .text-tools{
            float: left;
            width: calc(100% - 195px);

            @include md{
                width: calc(100% - 135px);
            }
        }
    }
}
.client-us{
    margin: 40px 0;

    .client-feedbacks{
        border: none;
        margin: 20px 0 0;

        @include sm{
            margin: 0;
        }
    }
}

/*FIN NOSOTROS*/

/*CONTACTO*/
.contact-us{
    padding: 60px 0;
    
    &-text{
        text-align: right;
        color: $gray3;

        p{
            font-size: 18px;
            font-weight: 400;
            max-width: 360px;
            float: right;
        }

        h1{
            font-family: 'Oswald', sans-serif;
            color: $green;
            letter-spacing: 0.3125rem;
            font-size: 35px;
            margin: 30px 0;

            @include md{
                font-size: 28px;    
            }
        }

        address{
            font-size: 21px;

            a{
                color: $gray3;   
            }
        }
    }
}
/*FIN CONTACTO*/

/*FORMULARIOS*/

form{
    input[type="text"], [type="password"], [type="number"], [type="email"], select{
        width: 100%;
        font-size: 16px;
        padding: 10px;
        @include border-radius(6px);
        border: $bor-green;
    }
    textarea{
        width: 100%;
        font-size: 16px;
        padding: 10px;
        @include border-radius(6px);
        height: 160px;
        border: $bor-green;
    }
    label{
        font-size: 18px;
        display: block;
        color: $gray3;
        margin: 15px 0 5px;
    }
    fieldset{
        border: none;
        margin: 0;
        padding: 0;
    }
    .checkbox+.checkbox, .radio+.radio{
        margin-top: inherit;
    }
    .radio, .checkbox{
        margin: 10px 0 !important;

        label{
            font-size: 14px;
            color: $text-color;
        }
    }
}
/*FIN FORMULARIOS*/


/*FOOTER*/
footer{
    background: url(../images/logo.svg) 0 0 no-repeat;
    background-size: 70%;
    text-align: right;
    padding: 80px 0 40px;

    @include md{
        padding: 40px 0;
    }

    @include sm{
        padding: 0 0 40px;
    }

    .company-details{
        margin: 10px 0 0;
    }
}
.redes{

    a{
        display: inline-block;
        text-align: center;
        background: $green;
        @include circle(30px);
        color: $white;
        font-size: 16px;
        margin: 0 7px;
        box-sizing: border-box;
        @include transition(0.3s);

        [class^="icon-"]{
            line-height: 30px;
        }

    }
}
/*FIN FOOTER*/


.col-md-12{
    float: none;
}

@import 'animate';