@import 'normalize';

/*COLORS*/
$black: #000;
$dark: #2A292E;
$gray: #F3F5FA;
$gray2: #E2E4E7;
$gray3: #656968;
$gray4: #9B9B9B;
$gray5: #B4BAC0;
$complementary: #4CC508;
$principal: #FF1D45;
$secundary: #B70F28;
$bor-gray: 1px solid #E2E4E7;
$white: #FFF;
$text-color: #676767;


@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}
@mixin rotate($rotate){
    -webkit-transform: rotate($rotate);
    -moz-transform: rotate($rotate);
    -ms-transform: rotate($rotate);
    transform: rotate($rotate);     
}
@mixin transition($item){
    -webkit-transition: ease all ($item);
    -moz-transition: ease all ($item);
    -ms-transition: ease all ($item);
    transition: ease all ($item);       
}
@mixin circle($value){
    border-radius: 50%;
    width: $value;
    height: $value;
    overflow: hidden;
}
@mixin box-shadow($shadow){
    -webkit-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    -ms-box-shadow: $shadow;
    box-shadow: $shadow;
}
@mixin text-shadow($shadow){
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  -ms-box-shadow: $shadow;
  box-shadow: $shadow;
}
@mixin blur($item){
  -webkit-filter: blur($item);
  -moz-filter: blur($item);
  -ms-filter: blur($item);
  filter: blur($item);
}


// media queries mixins

@mixin xl {
  @media (max-width: 1200px) {
    @content;
  }
}
@mixin lg {
  @media (max-width: 1024px) {
    @content;
  }
}
@mixin md {
  @media (max-width: 960px) {
    @content;
  }
}

@mixin sm {
  @media (max-width: 768px) {
    @content;
  }
}
@mixin s {
  @media (max-width: 600px) {
    @content;
  }
}

@mixin xs {
  @media (max-width: 544px) {
    @content;
  }
}
@mixin xxs {
  @media (max-width: 480px) {
    @content;
  }
}

@mixin iplus {
  @media (max-width: 414px) {
    @content;
  }
}

@mixin i6 {
  @media (max-width: 375px) {
    @content;
  }
}
@mixin i5 {
  @media (max-width: 360px) {
    @content;
  }
}

@mixin xxxs {
  @media (max-width: 320px) {
    @content;
  }
}

@mixin media ($ancho) {
  @media (max-width: $ancho) {
    @content;
  }
}
@mixin mediaAlto ($alto) {
  @media (max-height: $alto) {
    @content;
  }
}

br{
    clear: both;
}

/*DESTACADO HEADER*/
.header-banner{
    background: $principal;
    background-size: cover;
    background-position: center;
    height: 690px;
    position: relative;
    box-shadow: none;

    .mask-banner{
        bottom: -1px;
        left: 0;
        width: 100%;
        position: absolute;
        z-index: 0;

        img{
            display: block;
            width: 100%;
        }
    }
    .circle-banner{
        top: 30px;
        right: -5%;
        position: absolute;
        z-index: 1;
        width: 800px;

        .mask{
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
        }
        .img-in{
            margin: 7% 19% 0 0;
            width: 70%;
            border-radius: 50%;
        }
    }
    .intro-text{
        z-index: 1;
        position: relative;
        font-size: 40px;
        line-height: 50px;
        text-align: left;
        max-width: 650px;
    }
}
/*FIN DESTACADO HEADER*/

/*CARACTERISTICAS*/
.ld-charact{
    background: no-repeat;
    background-position: center 180px;
    position: relative;
    
    .img-cel{
        width: 360px;
        margin: 0 auto 80px;

        img{
            display: block;
            width: 100%;
        }
    }

    .list-charact{
        position: relative;
        list-style: none;
        margin: 0 auto;

        li{
            color: $gray3;
            max-width: 285px;
            text-align: right;
            position: absolute;

            &:nth-child(1n){
                top: 290px;
                left: 50px;
            }

            &:nth-child(2n){
                top: 210px;
                text-align: left;
                left: calc(50% + 220px);
            }

            &:nth-child(3n){
                top: 490px;
                left: 0;
            }

            &:nth-child(4n){
                top: 530px;
                left: calc(50% + 230px);
            }
            &:nth-child(5n){
                top: 740px;
                left: calc(50% - 175px);
                text-align: left;
                max-width: 350px;
            
                .ico-charact{
                    display: block;
                    float: left;
                }
                div{
                    float: left;
                    margin-left: 10px;
                    width: calc(100% - 80px);
                }
            }

            .ico-charact{
                display: inline-block;
            }

            h3{
                color: $dark;
                font-weight: 700;
                font-size: 20px;
                margin: 0 0 5px;
            }
            p{
                font-size: 12px;
                margin: 0;
            }
        }
    }
}
.content-types{
    background: $gray;
    position: relative;

    .tit-planes{
        color: $dark;
    }
    .section-legend{
        text-align: center;
        color: $gray3;
    }
    .img-types{
        width: 50%;
        max-width: 840px;
        position: absolute;
        right: calc(50% + 60px);
        margin: 60px 0 0;

        img{
            display: block;
            width: 100%;
        }
    }

    .list-types{
        width: 50%;
        margin: 60px 0 0 50%;
        padding: 0;
        list-style: none;

        li{
            background: $white;
            margin: 0 0 30px;
            padding: 30px 30px 10px;
            box-sizing: border-box;
            @include border-radius(8px);

            img{
                display: block;
                float: left;
                width: 50px;
            }

            .txt-type{
                width: calc(100% - 70px);
                float: left;
                margin: 0 0 0 20px;
            }

            h3{
                color: $dark;
                font-weight: 700;
                font-size: 20px;
                margin: 7px 0 10px;
            }
            p{
                font-size: 14px;
                line-height: 23px;
                color: #969696;
                margin: 0;
            }
        }
    }
}
/*FIN CARACTERISTICAS*/
.middle-col {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 0 20px;
    align-items: center;

    &:after, &:before{
        display: none;
    }
}


/*PAGOS*/
.content-pricing{
    position: relative;

    .bk-1{
        width: 220px;
        height: 230px;
        position: absolute;
        top: -12px;
        right: -12px;
        z-index: 0;

        @include xs{
            width: 115px;
            height: 127px;
        }
        @include iplus{
            display: none;
        }
    }
    .bk-2{
       width: 300px;
       height: 450px;
       position: absolute;
       bottom: -100px;
       left: -80px;
       z-index: 0;

       @include media (1300px){
        z-index: 1;
        width: 300px;
        height: 417px;
        bottom: -80px;
        left: -100px;
       }

       @include sm{
        z-index: 1;
        width: 220px;
        height: 306px;
        bottom: -50px;
        left: -90px;
       }
       @include iplus{
        display: none;
       }
    }
}
.tit-planes{
    color: $principal;
    text-align: center;
    font-weight: 800;
    font-size: 45px;
    text-transform: uppercase;

    @include sm{
        font-size: 35px;
    }
    @include xxs{
        font-size: 28px;
    }
}
.list-pricing{
    list-style: none;
    margin: 0;
    padding: 0;

    .pricing-box{
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        background: $gray;
        width: calc(33.3% - 20px);
        margin: 105px 30px 0 0;
        padding: 20px 0;
        float: left;
        position: relative;
        box-sizing: border-box;
        @include border-radius(3px);

        @include sm{
            width: 70%;
            margin: 30px auto 10px !important;
            float: none;
            position: relative;
            z-index: 1;
        }

        @include xs{
            width: 80%;
        }
        @include xxs{
            width: 100%;
        }
        
        &:nth-child(3n){
            margin-right: 0;
        }

        .cup{
            margin: -135px auto 10px;
            display: block;
            z-index: 1;
            position: relative;

            @include sm{
                margin: 0 auto 10px;
                height: 100px;
            }
            @include xxs{
                height: 80px;
            }
        }

        h3{
            font-size: 30px;
            font-weight: 900;
            line-height: 1;
            color: $principal;
        }
        h4{
            color: $dark;
            font-size: 18px;
            font-weight: 400;
        }
        .text{
            font-size: 14px;
            color: $gray3;
            margin: 0 20px;
            padding: 20px 0;
        }
        p{
            margin: 0;
        }
        .price{
            color: $principal;
            margin: 0;
            padding: 0;
            height: auto;
            line-height: 180%;
            font-size: 50px;
            font-weight: 300;
        }
        .btn-buy{
            background: transparent;
            font-weight: 700;
            border: 3px solid $principal;
            color: $principal;
            font-size: 16px;
            position: relative;
            z-index: 2;
            text-transform: inherit;
            display: block !important;
            width: 160px;
            margin: 0 auto;
            box-sizing: border-box;
            padding: 10px;
            text-align: center;

            &:hover{
                background: $principal;
                color: $white;
            }
        }
        .no-ads{
            background: #4CC508;
            color: $white;
            text-transform: uppercase;
            padding: 5px 10px;
            font-weight: 400;

            img{
                width: 30px;
                display: inline-block;
                margin:0 5px 0 0;
            }
            br{
                display: none;
            }
        }

        &.novato{

            h3{
                color: #B4BAC0;
            }

            .price{
                font-size: 80px;
                line-height: 160%;
            }
        }
        &.experto{

            h3{
                color: #4CC508;
            }
        }
        .list-beneficios{
            background: #E4EAF1;
            padding: 15px 20px !important;
            list-style: none;
            margin: 10px 0 0;
            text-align: left;

            li{
                font-size: 12px;
                color: $gray3;
                padding: 5px 0;

                i{
                    font-size: 16px;
                    display: inline-block;
                    margin: 0 5px 0 0;
                    color: #4CC508;
                }
            }
        }
        .btn-beneficios{
            color: $dark;
            background: transparent;
            display: block;
            text-transform: inherit;
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
            margin: 0 auto;
            position: relative;
            z-index: 2;
            text-align: center;
            padding: 0;

            &:hover{
                background: transparent;
            }
        }
    }
}
/*FIN PAGOS*/
.box-appstore{
    font-family: 'Montserrat', sans-serif;
    background: $principal;
    color: $white;
    padding: 80px 0 0;

    @include md{
        padding: 40px 0 0;  
    }
    @include s{
        padding: 40px 0;  
    }
    @include xxs{
        padding: 30px 0 0;  
    }

    .img-app{
        float: left;
        max-width: 470px;
        width: 40%;
        position: relative;
        overflow: hidden;
        height: 570px;
        margin: 0 30px 0 0;

        @include xl{
            height: 475px;
        }

        @include media(990px){
            width: 270px;
            height: 335px;
        }

        @include s{
            width: 180px;
            margin: 0 20px 0 0;
            height: auto;
        }
        @include xxs{
            float: none;
            margin: 30px auto 0;
            width: 260px;
            height: 320px;
        }

        img{
            position: relative;
        }
    }

    .text-app{
        width: calc(100% - 500px);
        float: right;
        padding: 150px 0 0;

        @include media(990px){
            width: calc(100% - 300px);
            padding: 80px 0 0;
        }
        @include s{
            width: calc(100% - 200px);
            padding: 70px 0 0;
        }

        @include xxs{
            width: 100%;
            float: none;
            padding: 0;
            text-align: center;
        }

        img{

            @include sm{
                height: 50px;
            }

            @include xxs{
                height: 50px;
                display: block;
                margin: 0 auto;
            }
        }
    }

    h3{
        font-weight: 900;
        font-size: 60px;
        line-height: 120%;
        margin: 0 0 30px;

        @include xl{
            font-size: 40px;
        }
        @include media(990px){
            font-size: 35px;
        }
        @include sm{
            font-size: 30px;
        }
        @include xs{
            font-size: 25px;
            margin: 0;
        }
    }
}
