<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Tresse Creativos</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link href="https://fonts.googleapis.com/css?family=Oswald:300|Source+Sans+Pro:300,400,600,900" rel="stylesheet">
    <link rel="stylesheet" href="../content/css/styles.css" />

    <!--[if IE]>
		<script type="text/javascript">
			 var console = { log: function() {} };
		</script>
	<![endif]-->
</head>
<body>
<header class="navbar">
	<div class="content-all">
		<h1 class="logo">
			<a href="/">
				<img src="../content/images/logo.png">
				<span>Tresse - Soluciones creativas</span>
			</a>
		</h1>
		<div class="content-menus">
			<div class="hd-contact">
				<nav class="redes">
					<a href="">
						<i class="icon-facebook"></i>
					</a>
					<a href="">
						<i class="icon-whatsapp"></i>
					</a>
					<a href="">
						<i class="icon-instagram"></i>
					</a>
				</nav>
				<span>LLÁMANOS <a href="tel:+573125301090">+57 312 530 10 90</a></span>
				<br/>
			</div>
			<nav class="menu-header">
				<li class="active"><a href="">Home</a></li>
				<li><a href="">Nosotros</a></li>
				<li><a href="">Proyectos</a></li>
				<li><a href="">Contacto</a></li>
			</nav>
		</div>
	</div>
</header>
<div class="prueba-banner">
	
</div>
<main class="content-all">
	<h2 class="title">Proyectos recientes</h2>
	<a class="bt-itn" href="">Ver todos los proyectos <i class="icon-plus"></i></a>
	<ul class="list-projects">
		<li><img src="../content/images/img-1.png"></li>
		<li><img src="../content/images/img-2.png"></li>
		<li><img src="../content/images/img-3.png"></li>
		<li><img src="../content/images/img-1.png"></li>
		<li><img src="../content/images/img-2.png"></li>
		<li><img src="../content/images/img-3.png"></li>
		<li><img src="../content/images/img-1.png"></li>
		<li><img src="../content/images/img-2.png"></li>
		<li><img src="../content/images/img-3.png"></li>
	</ul>
</main>
<footer></footer>
</body>