<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Tresse Creativos</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link href="https://fonts.googleapis.com/css?family=Oswald:300|Source+Sans+Pro:300,400,600,900" rel="stylesheet">
    <link rel="stylesheet" href="../content/css/styles.css" />

    <!--[if IE]>
		<script type="text/javascript">
			 var console = { log: function() {} };
		</script>
	<![endif]-->
</head>
<body>
<header class="navbar">
	<div class="content-all">
		<h1 class="logo">
			<a href="/">
				<img src="../content/images/logo.png">
				<span>Tresse - Soluciones creativas</span>
			</a>
		</h1>
		<div class="content-menus">
			<div class="hd-contact">
				<nav class="redes">
					<a href="">
						<i class="icon-facebook"></i>
					</a>
					<a href="">
						<i class="icon-whatsapp"></i>
					</a>
					<a href="">
						<i class="icon-instagram"></i>
					</a>
				</nav>
				<span>LLÁMANOS <a href="tel:+573125301090">+57 312 530 10 90</a></span>
				<br/>
			</div>
			<nav class="menu-header">
				<li><a href="index.html">Home</a></li>
				<li><a href="nosotros.html">Nosotros</a></li>
				<li class="active"><a href="proyectos.html">Proyectos</a></li>
				<li><a href="contecto.html">Contacto</a></li>
			</nav>
		</div>
	</div>
</header>
<section class="inter-project">
	<article class="content-all">
		<div class="intet-text">
			<label>Diseño para espacios</label>
			<h1 class="title">Branding nueva tienda TRS Partes Villavicencio</h1>
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
			<time>2019</time>
		</div>
		<figure class="img-principal">
			<img src="../content/images/img-1.png">
		</figure>
		<br/>
		<div class="gallery-project">
			<div class="img-pjt">
				<img src="../content/images/img-1.png">
			</div>
			<div class="img-pjt">
				<img src="../content/images/img-1.png">
			</div>
			<div class="img-pjt">
				<img src="../content/images/img-1.png">
			</div>
		</div>
		<a class="btn-back" href="proyectos.html"><i class="icon-left"></i> Volver a proyectos</a>
	</article>
</section>
<footer class="content-all">
	<nav class="redes">
		<a href="">
			<i class="icon-facebook"></i>
		</a>
		<a href="">
			<i class="icon-whatsapp"></i>
		</a>
		<a href="">
			<i class="icon-instagram"></i>
		</a>
	</nav>
	<address class="company-details">
		<div><a href="tel:+573125301090">+57 312 530 10 90</a></div>
		<div><a href="mailto:aforerom@tressesc.com">aforerom@tressesc.com</a></div>
		<div>Bogotá • Colombia</div>
	</address>
</footer>
</body>