@import 'normalize';
@import 'icons';
@import 'mixins';

/*COLORS*/
$black: #000;
$dark: #2A292E;
$gray: #F3F5FA;
$gray2: #E2E4E7;
$gray3: #656968;
$gray4: #9B9B9B;
$red: #FF1D45;
$red2: #B70F28;
$bor-gray: 1px solid #D2D2D2;
$white: #FFF;
$text-color: #676767;


body{
    font-family: 'Montserrat', sans-serif;
    color: $text-color;
    font-weight: 300;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin: 0;
}
a {
    cursor: pointer;
    text-decoration: none !important;
    word-break: break-all;
    color: $red;
}
br{
    clear: both;
}
p {
    margin: 0;
    padding: 8px 0;
}
input, select, textarea {
    border: none;
    outline: none;
    color: $text-color;
}
input[type="text"], [type="password"], [type="number"], [type="email"], [type="date"], [type="search"], [type="tel"], [type="url"], [type="week"], [type="time"], select{
    -webkit-appearance: none;
    background: none;
    border: none;
    box-sizing: border-box;
}

input[type="text"]:focus, input[type="email"]:focus {
}

input[type="text"]:-ms-input-placeholder, input[type="email"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder, textarea:-ms-input-placeholder {

}

input:focus, textarea:focus, select:focus {
    outline: 0 none;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    color: inherit;
}

select {
}
textarea{
    resize: none;
    box-sizing: border-box;
}
button{
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 0;
}
.content-all{
    width: 1024px;
    margin: 0 auto;
    position: relative;

    @include lg{
        width: 960px;
    }
    @include md {
        width: 768px;
    }

    @include sm {
        width: 600px;
    }

    @include s {
        width: 540px;
    }

    @include xs {
        width: 480px;
    }

    @include xxs {
        width: 375px;
    }

    @include i6 {
        width: 360px;
    }

    @include i5 {
        width: 320px;
    }

    @include xxxs {
        width: 90%;
    }
}

/*HEADER*/
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    padding: 10px 0;
    z-index: 2;
    background: $white;

    @include s{
        background: $white;
    }
}
.logo{
    position: relative;
    float: left;
    height: 50px;

    img{
        height: 50px;
        width: auto;
    }

    span{
        position: absolute;
        text-indent: -99999px;
        right: 0;
    }
}
.user-wraper{
    float: right;
    position: relative;

    .btn-noti{
        float: left;
        font-size: 25px;
        display: block;
        position: relative;
        margin: 8px 20px 7px 0;

        span{
            background: $red;
            color: $white;
            font-size: 12px;
            text-align: center;
            display: block;
            @include border-radius(10px);
            min-width: 18px;
            box-sizing: border-box;
            position: absolute;
            bottom: 0;
            right: -8px;
        }
    }
    .user-img{
        float: left;
        margin: 7px 0 8px;
    }
    .login{
        padding: 15px 0;
        font-weight: 500;
        display: block;
        float: right;
    }
}
.user-img {
    @include circle(35px);
    position: relative;
    cursor: pointer;

    img {
        width: 100%;
        height: 100%;
    }

    .no-img {
        @include circle(100%);
        font-size: 16px;
        text-transform: uppercase;
        padding: 7px 0;
        text-align: center;
        box-sizing: border-box;
        background: $red;
        color: $white;
    }
}
/*FIN HEADER*/

/*HOME*/
.menu-big {
    padding: 0;
    color: $black;
    position: relative;
    text-align: center;
    display: flex;
    -webkit-justify-content: center;
    align-content: stretch;
    align-items: center;
    height: 100%;
    width: 100%;

    @include i6{
        padding: 60px 0;
        display: block;
    }

    .menu-nav{
        text-align: center;
        list-style: none;

        h2{
            margin: 8px 0;
            font-size: 30px;

            @include s{
                font-size: 25px;
                margin: 0;
            }
                
            @include xxxs{
                font-size: 20px;
            }

            &.active{
                text-decoration: underline;
            }

            a{
                display: block;
                padding: 10px 0;
                color: $dark;

                &:hover{
                    color: $red;
                }

                &.log-out{
                    color: $gray4;
                }
            }
        }
    }
}
.content-menu {
    left: -100%;
    position: fixed;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    z-index: 2;
    background-color: $white;
    -webkit-overflow-scrolling: touch;
    transition: left 300ms ease-in-out;

    &.show-menu{
        left: 0;
    }

    @include s{
        right: 0;
        width: 100%;
    }

    &.ng-enter, &.ng-leave {
        transition: left 300ms ease-in-out;

        @include s{
            transition: right 300ms ease-in-out;
        }
    }

    &.ng-enter {
        left: -100%;

        @include s{
            left: auto;
            right: -100%;
        }
    }

    &.ng-leave.ng-leave-active {
        left: -100%;

         @include s{
            left: auto;
            right: -100%;
        }
    }

    &.ng-leave {
        left: 0;

         @include s{
            left: auto;
            right: 0;
        }
    }

    &.ng-enter.ng-enter-active {
        left: 0;

         @include s{
            left: auto;
            right: 0;
        }
    }
}
.menu-icon {
    position: relative;

    label {
        width: 30px;
        height: 30px;
        display: inline-block;
        position: relative;
        cursor: pointer;

        &:after{
            content: "Menú";
            position: absolute;
            left: 35px;
            top: 2px; 
            font-size: 18px;

            @include s{
                left: -55px;
            }
        }

        i{
            position: absolute;
            top: 7px;
            left: 3px;
            width: 23px;
            height: 4px;
            display: block;
            font-style: normal;
            background: $black;
            @include border-radius(4px);
            @include transition(0.25s);
        
            &:last-child{
                bottom: 7px;
                top: auto;
            }
        }
    }
    &.menu-closed{

        label i {
            @include rotate(45deg);
            top: 13px;

            &:last-child{
                @include rotate(-45deg);
                bottom: 13px;
            }
        }
    }
}
.btn-menu {
    position: absolute;
    top: 0;
    left: 20px;
    color: $black;
    font-size: 23px;
    padding: 0;
    margin: 11px 0;
    z-index: 3;
    @include transition(0.5s);

    [class^="icon-"] {
        font-size: 23px;
    }

    @include s{
        right: 20px;
        left: auto;
    }
    @include xxxs {
        right: 5%;
        font-size: 16px;
    }

    &.leftmenu{
        left: 20px;
        transition-delay: 0.3s;
        color: $black;

        @include s{
            left: auto;
            right: 30px;
        }
    }
}
/*FIN HOME*/

.pg-body{
    padding: 70px 0 0;
}
.tit-section{
    font-size: 30px;
    font-weight: 700;

    @include xxxs{
        font-size: 25px;
    }
}
.sub-title{
    font-size: 16px;

    @include xxxs{
        font-size: 14px;
    }
}

/*HOME*/
.section{
    color: $dark;

    h3{
        font-size: 60px;
        font-weight: 800;
        line-height: 1;
    }
    p{
        font-size: 20px;
    }
}
.sec-1{

    h1{
        font-size: 37px;
        font-weight: 800;
        margin: 0 0 20px;
        line-height: 1;
    }
    .btn{
        background: $red;
        color: $white;
        font-size: 25px;
    }
}
.sec-2{
    color: $white;

    .btn{
        background: $white;
        color: $red;
        font-size: 25px;
    }
}
.sec-4{
    color: $red;
}
.foot-home{
    padding: 50px 0;
    background: $dark;
    color: $white;
    text-align: center;

    h3{
        font-size: 40px;
        font-weight: 700;
        max-width: 490px;
        margin: 0 auto;
    }
    p{
        margin: 30px 0 0;
        padding: 10px 0 0;
        border-top: 1px solid $white;
    }
}
.wrap-down {
    width: 100%;
    cursor: pointer;
    position: absolute;
    left: 0;
    bottom: 2%;
    text-align: center;
    color: $gray3;

    .icon-down{
        display: block;
        font-size: 30px;
    }
}
/*FIN HOME*/

/*FORMULARIOS*/
.content-form{
    max-width: 830px;
    margin: 0 auto;

}
.bad{
    input[type="text"], [type="password"], [type="number"], [type="email"], select, textarea{
        background: #FFEBEB;
    } 
}
.error{
    color: #FF0047;
    height: 15px;
    font-size: 11px;
    display: block;
}
.legal{
    font-size: 12px;
    display: block;
    margin: 10px 0 0;
}

form{
    input[type="text"], [type="password"], [type="number"], [type="email"], select{
        width: 100%;
        font-size: 16px;
        padding: 10px;
        @include border-radius(6px);
    }
    textarea{
        width: 100%;
        font-size: 16px;
        padding: 10px;
        @include border-radius(6px);
        height: 100px;
    }
    label{
        font-size: 16px;
        font-weight: bold;
        display: block;
    }
    fieldset{
        border: none;
        margin: 0;
        padding: 0;
    }
    .checkbox+.checkbox, .radio+.radio{
        margin-top: inherit;
    }
    .radio, .checkbox{
        margin: 10px 0 !important;

        label{
            font-size: 14px;
            color: $text-color;
        }
    }
}
/*FIN FORMULARIOS*/

/*FOOTER*/
footer{
    background: $white;
    padding: 40px 0;
    text-align: center;

    @include iplus{
        padding: 20px 0 30px;
    }

    p{
        padding: 0;
        color: $gray3;
        font-size: 12px;
    }
    .redes{
        margin: 0 0 20px;

        a{
            display: inline-block;
            background: $red;
            @include circle(40px);
            color: $white;
            font-size: 20px;
            margin: 0 10px;
            padding: 7px 0;
            box-sizing: border-box;
            @include transition(0.3s);

        }
    }
}
/*FIN FOOTER*/

/*MODALES*/
.modal-backdrop {
    background: $red;
}
.modal-backdrop.in{
    opacity: .8;
}
.modal-content{
    @include box-shadow(none);
    @include border-radius(6px);
    border: none;
    padding: 30px;
    box-sizing: border-box;

    .close{
        display: block;
        font-size: 25px;
        opacity: 1;
    }
    .btn{
        width: 170px; 
        margin: 30px auto 0;
        display: block;
    }
}
.modal-header{
    padding: 0;
    border-bottom: none;
    margin: 0 0 20px;
}
.tit-modal{
    font-size: 25px;
    text-align: center;
    padding: 0 0 0 25px;
    float: left;
    width: calc(100% - 25px);
    box-sizing: border-box;
}

.login_redes {
    margin: 0 0 20px;
    justify-content: center;
    display: flex;
    padding: 0 0 30px;
    position: relative;

    button {
        background: $red;
        color: #FFF;
        font-size: 35px;
        @include circle(60px);
        overflow: hidden;
        margin: 0 15px;
        line-height: 35px;
        @include transition(0.3s);

        @include i6{
            @include circle(50px);
            font-size: 30px;
        }
    }
    p {
        font-size: 16px;
        text-align: center;
        position: absolute;
        bottom: 0;
        padding: 0;
    }
}
.box-log {
    padding: 20px 0 0;
    text-align: center;
    font-size: 15px;
}
.login{
    max-width: 360px;
}
.msj-end{
    font-size: 16px;
    text-align: center;

    @include i5{
        font-size: 14px;
    }

    [class^="icon-"]{
        font-size: 80px;
        color: $red;
    }
}
/*FIN MODALES*/

/*NOTIFICACIONES*/
.notification{
    margin: 0 0 30px;
    padding: 0;
    list-style: none;

    li{
        padding: 15px 0;
        border-bottom: $bor-gray;
        cursor: pointer;
        @include transition(0.3s);


        p{
            padding: 0;
        }
        span{
            color: $gray3;
            font-size: 12px;
        }
        .new{
            @include circle(11px);
            display: inline-block;
            background: $red;
        }
    }
}
.noti-back{
    padding: 10px 0;
    font-size: 20px;

    span{
        font-size: 25px;
    }
}
/*FIN NOTIFICACIONES*/

.col-md-12{
    float: none;
}

@import 'animate';
@import 'a-huellitas';