@import 'normalize';
@import 'icons';
@import 'mixins';

/*COLORS*/
$black: #000;
$blue: #304A6F;
$blue2: #3C75C2;
$blue3: #7CD2E1;
$gray: #676767;
$gray2: #D2D2D2;
$gray3: #BABABA;
$gray4: #F6F6F7;
$gray5: #919191;
$red: #FC9282;
$green: #B8EA81;
$bor-gray: 1px solid #D2D2D2;
$white: #FFF;
$text-color: #676767;


body{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: $text-color;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin: 0;
}
a {
    cursor: pointer;
    text-decoration: none !important;
    word-break: break-all;
    color: $blue2;
}
br{
    clear: both;
}
p {
    margin: 0;
    padding: 8px 0;
}
input, select, textarea {
    border: none;
    outline: none;
    color: $text-color;
}
input[type="text"], [type="password"], [type="number"], [type="email"], [type="date"], [type="search"], [type="tel"], [type="url"], [type="week"], [type="time"], select{
    -webkit-appearance: none;
    background: none;
    border: none;
    box-sizing: border-box;
}

input[type="text"]:focus, input[type="email"]:focus {
}

input[type="text"]:-ms-input-placeholder, input[type="email"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder, textarea:-ms-input-placeholder {

}

input:focus, textarea:focus, select:focus {
    outline: 0 none;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    color: inherit;
}

select {
}
textarea{
    resize: none;
    box-sizing: border-box;
}
button{
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 0;
}
.content-all{
    width: 1024px;
    margin: 0 auto;
    position: relative;

    @include lg{
        width: 960px;
    }
    @include md {
        width: 768px;
    }

    @include sm {
        width: 600px;
    }

    @include s {
        width: 540px;
    }

    @include xs {
        width: 480px;
    }

    @include xxs {
        width: 375px;
    }

    @include i6 {
        width: 360px;
    }

    @include i5 {
        width: 320px;
    }

    @include xxxs {
        width: 90%;
    }
}

/*HEADER*/
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    padding: 10px 0;
    z-index: 2;

    @include s{
        background: $white;
    }
}
.inner-header{
    background: $white;
    border-bottom: $bor-gray;
}
.logo{
    position: relative;
    float: left;
    height: 50px;

    img{
        height: 50px;
        width: auto;
    }

    span{
        position: absolute;
        text-indent: -99999px;
        right: 0;
    }
}
.main-menu{
    display: none;
    @include sm{
        display: block;
        color: $blue;
        font-size: 40px;
        float: left;
        margin: 0 30px 0 0;
    }
}
.menu{
    float: left;
    margin: 0 0 0 60px;

    @include md{
        margin: 0 0 0 20px;
    }
    @include sm{
        display: none;
        float: none;
        margin: 0;
        position: fixed;
        top: 70px;
        left: 0;
        background: $gray4;
        width: 100%;

        br{
            display: none;
        }
    }

    h2{
        font-family: 'Oswald', sans-serif;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 500;
        float: left;
        margin: 0 10px;

        @include sm{
            float: none;
            margin: 0;
            text-align: center;
            border-top: $bor-gray;
        }

        a{
            color: $blue;
            display: block;
            padding: 14px 5px;
            @include transition(0.3s);

            &:hover, &.active{
                color: $blue2;
            }
        }
    }
}
.user-wraper{
    float: right;
    position: relative;

    .btn-noti{
        float: left;
        font-size: 25px;
        color: $blue;
        display: block;
        position: relative;
        margin: 8px 20px 7px 0;

        span{
            background: $red;
            color: $white;
            font-size: 12px;
            text-align: center;
            display: block;
            @include border-radius(10px);
            min-width: 18px;
            box-sizing: border-box;
            position: absolute;
            bottom: 0;
            right: -8px;
        }
    }
    .user-img{
        float: left;
        margin: 7px 0 8px;
    }
    .login{
        padding: 15px 0;
        font-weight: 500;
        display: block;
        float: right;
    }
    .sub-wraper{
        background: $white;
        width: 240px;
        position: absolute;
        top: 50px;
        right: 0;
        border: $bor-gray;
        box-sizing: border-box;
        padding: 20px 0 10px;
        @include border-radius(6px);
        @include box-shadow(0 0 2px rgba(0, 0, 0, 0.2));

        h6{
            font-size: 16px;
            padding: 0 20px;
        }
        p{
            color: $gray3;
            margin: 0 20px 10px;
            padding: 0 0 8px;
            border-bottom: $bor-gray;
            font-size: 12px;
        }

        a{
            display: block;
            padding: 5px 20px;
            @include transition(0.3s);

            &:hover{
                background: $gray4;
            }
        }
    }
}
.user-img {
    @include circle(35px);
    position: relative;
    cursor: pointer;

    img {
        width: 100%;
        height: 100%;
    }

    .no-img {
        @include circle(100%);
        font-size: 16px;
        text-transform: uppercase;
        padding: 7px 0;
        text-align: center;
        box-sizing: border-box;
        background: $blue3;
        color: $white;
    }
}
/*FIN HEADER*/

.pg-body{
    padding: 70px 0 0;
}
section{
    padding: 40px 0;
}
.card{
    background: $gray4;
    @include border-radius(6px);
}
.tit-section{
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
    color: $blue;
    font-weight: 700;

    @include xxxs{
        font-size: 25px;
    }
}
.sub-title{
    font-size: 16px;

    @include xxxs{
        font-size: 14px;
    }
}
.bkg-gray{
    background: $gray4;

    form{
        input[type="text"], [type="password"], [type="number"], [type="email"], select{
            background: $white;    
        }

        textarea{
            background: $white;
        }
    }
}

/*HOME*/
.h-funda{
    background: $green;


    h2{
        color: $white;
    }
    ul{
        list-style: none;
        margin: 20px 0 0;
        padding: 0;

        li{
            width: 25%;
            float: left;

            @include s{
                width: 50%;
                margin: 10px 0;
            }

            img{
                display: block;
                @include circle(180px);
                background: $white;
                margin: 0 auto;

                @include md{
                    @include circle(120px);   
                }
                @include xxxs{
                    @include circle(100px);
                }

            }
        }
    }
    button{
        background: $red;
        color: $white;
        display: block;
        border: none;
        width: 140px;
        margin: 30px auto 0;
        @include transition(0.3s);
    }
}
.apoyo{
    margin: 0;
    padding: 0;
    list-style: none;

    li{
        width: calc(33.3% - 17px);
        margin: 0 25px 0 0;
        float: left;
        background: $gray4;
        box-sizing: border-box;
        padding: 30px 25px;
        @include border-radius(6px);

        &:nth-child(3n){
            margin-right: 0;
        }
        br{
            display: none;
        }

        @include sm{
            width: 100%;
            float: none;
            margin: 0 0 25px;

            br{
                display: block;
            }
        }
        @include xxs{

            br{
                display: none;
            }
        }

        [class^="icon-"]{
            font-size: 110px;
            color: $blue;
            display: block;
            text-align: center;
            margin: 0 0 20px;

            @include sm{
                float: left;
                margin: 0 20px 0 0;
            }
            @include s{
                font-size: 80px;
            }
            @include xxs{
                float: none;
                margin: 0 0 10px;
            }
        }
        .box-txt{

            @include sm{
                float: left;
                width: calc(100% - 130px);
            }
            @include s{
                width: calc(100% - 100px);
            }
            @include xxs{
                float: none;
                width: 100%;
            }

            h3{
                font-size: 25px;
                color: $blue;
                text-align: center;
                font-weight: 700;
                font-family: 'Oswald', sans-serif;

                @include sm{
                    text-align: left;
                }
                @include s{
                    font-size: 20px;
                }
                @include xxs{
                    text-align: center;
                }
            }
            p{
                min-height: 200px;
                @include sm{
                    min-height: auto;
                }
            }
            .btn{
                background: $blue3;
                color: $white;
                display: block;
                margin: 20px auto 0;
                width: 140px;
                @include transition(0.3s);

                @include sm{
                    margin: 0;
                }
                @include xxs{
                    margin: 10px auto 0;
                }

                &:hover{
                    background: $blue2;
                }
            }
        }
    }
}
.us{
    margin: 20px 0;
    font-size: 16px;

    @include i5{
        font-size: 14px;
    }
}
.team{
    margin: 40px 0 0;
    padding: 0;
    list-style: none;

    li{
        float: left;
        box-sizing: border-box;
        padding: 0 20px;
        text-align: center;

        img{
            @include circle(120px);
            margin: 0 0 20px;
        }
        h4{
            font-size: 20px;
            font-weight: 500;
            font-family: 'Oswald', sans-serif;
            color: $blue;
        }
        p{
            padding: 0;
            line-height: normal;
            
            @include sm{
                margin: 0 0 30px;    
            }
        }
    }
}
.home-banner{
    background: $green;
    padding: 0;

    @include s{
        padding: 70px 0 0;
    }

    ul{
        margin: 0;
        padding: 0;
        list-style: none;

        li{
            width: 100%;
            height: 440px;
            position: relative;
            overflow: hidden;
            background: $blue;

            @include md{
                height: 350px;    
            } 
            @include s{
                height: 200px;
            }       
        }
    }
    .banner-desta{
        background: url(../images/bkg-green.png) repeat $green;
    }
    .pet-desta{
        padding: 50px 15px;
        box-sizing: border-box;

        @include s{
            padding: 0;
        }

        .txt-pet{
            float: left;
            width: 50%;
            padding: 70px 0 0;

            @include md{
                padding: 30px 0 0;
            }
            @include s{
                float: right;
                margin: 40px 0;
                padding: 0;
            }

            a{
                display: block;
            }
            h3{
                font-size: 60px;
                font-family: 'Oswald', sans-serif;
                font-weight: 700;
                color: $white;

                @include sm{
                    font-size: 50px;
                }
                @include s{
                    font-size: 35px;
                }
            }
            h4{
                color: $white;
                font-weight: bold;
                font-size: 25px;

                @include sm{
                    font-size: 20px;
                }
                @include s{
                    margin: 0 0 10px;
                    font-size: 16px;
                }
            }
            p{
                color: $blue;
                font-size: 16px;

                @include sm{
                    font-size: 14px;
                }
                @include s{
                    display: none;
                }
            }
            .btn{
                background: $red;
                color: $white;
                border: none;
                @include transition(0.3s);
                padding: 8px 16px;
            }
        }
        .box-pet-img{
            float: left;
            width: 50%;
            @include rotate(-3deg);
            position: relative;

            @include s{
                @include rotate(0deg);
                float: left;
                width: 45%;
                margin: 18px 0;
            }
            @include xxs{
                margin: 43px 0;
            }

            &:after{
                content: "";
                background: rgba(0,0,0,1);
                background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
                background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,1)), color-stop(100%, rgba(0,0,0,0)));
                background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
                background: -o-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
                background: -ms-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
                background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
                position: absolute;
                opacity: 0.08;
                top: 44%;
                right: -29%;
                width: 100%;
                height: 100%;
                @include rotate(-40deg);
                z-index: 0;

                @include md{
                    right: -36%;
                }

                @include s{
                    display: none;
                }
            }

            .pet-img{
                background: $white;
                padding: 15px;
                margin: 30px 0 0 70px;
                max-width: 400px;
                position: relative;
                display: block;
                z-index: 1;

                @include sm{
                    margin: 30px 0 0 30px;
                }
                @include s{
                    background: none;
                    padding: 0;
                    margin: 0;
                    @include border-radius(6px);
                    overflow: hidden;
                }
                @include i6{
                    @include border-radius(3px);
                }

                &:before{
                    content: "";
                    background: #FFCE6F;
                    position: absolute;
                    top: 2%;
                    left: -10%;
                    width: 120px;
                    height: 35px;
                    opacity: 0.35;
                    @include rotate(-50deg);

                    @include md{
                        top: 7px;
                        left: -36px;
                        width: 100px;
                        height: 30px;
                    }
                    @include s{
                        display: none;
                    }
                }
                &:after{
                    content: "";
                    background: #FFCE6F;
                    position: absolute;
                    bottom: 1%;
                    right: -10%;
                    width: 120px;
                    height: 35px;
                    opacity: 0.35;
                    @include rotate(-50deg);

                    @include md{
                        bottom: 14px;
                        right: -30px;
                        width: 100px;
                        height: 30px;
                    }
                    @include s{
                        display: none;
                    }
                }

                img{
                    max-width: 100%;
                    display: block;
                }
                .priority{
                    font-size: 20px;
                    margin: 10px 0 0;

                    @include sm{
                        font-size: 18px;
                    }
                    @include s{
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        color: $white;
                        width: 100%;
                        background: $blue;
                        font-size: 16px;
                        padding: 3px 0;
                    }
                    @include i5{
                        display: none;
                    }

                    .icon-star{
                        font-size: 35px;

                        @include sm{
                            font-size: 25px;
                        }
                        @include s{
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
    .event-desta{
        position: relative;
        text-align: center;
        display: flex;
        justify-content: center;
        align-content: stretch;
        align-items: center;
        z-index: 1;
        height: 100%;
        color: $white;

        &:before{
            content: "";
            position: absolute;
            top: -20px;
            left: -10%;
            width: 120%;
            height: 90px;
            background: rgba(255,255,255,0.9);
            @include blur(20px);
            z-index: 0;

            @include s{
                display: none;
            }
        }

        div{
            max-width: 90%;
        }

        h3{
            font-size: 50px;
            font-family: 'Oswald', sans-serif;
            font-weight: 700;
            color: $white;
            
            @include md{
                font-size: 40px;
            }
            @include sm{
                font-size: 35px;
            }
            @include s{
                font-size: 30px;
            }
            @include xxs{
                font-size: 25px;
            }
        }
        h4{
            color: $white;
            font-weight: bold;
            font-size: 25px;
            margin: 5px 0 0;

            @include sm{
                font-size: 20px;
            }
            @include s{
                font-size: 16px;
            }
        }
        p{
            color: $white;
            font-size: 16px;

            @include sm{
                font-size: 14px;
            }
            @include s{
                display: none;
            }
        }
        .btn{
            background: $blue3;
            color: $white;
            border: none;
            @include transition(0.3s);
            padding: 8px 16px;
            margin: 10px 0 0;

            @include s{
                font-size: 16px;
                padding: 5px 12px;
            }
        }
    }
    .img-banner {
        opacity: 0.4;
        width: 100%;
        position: absolute;
        top: -50%;
        left: 0;

        @include xxs{
            width: auto;
            min-width: 100%;
            max-height: 120%;
            top: 0;
        }
    }
}
/*FIN HOME*/

/*HUELLITAS*/
.content-card{

    .card{
        width: calc(33.3% - 17px);
        margin: 0 25px 25px 0;
        float: left;
        text-align: center;

        &:nth-child(3n){
            margin-right: 0;
        }

        @include s{
            width: calc(50% - 13px);
        }
        @include xxs{
            width: 100%;
            float: none;
            margin: 0 0 25px;
        }

        .priority{
            height: 28px;
        }
    }
}
.content-card, .content-lost{
    a{
        display: block;
        padding: 10px 0;
    }

    h3{
        color: $black;
        font-weight: 700;
        font-size: 20px;
        font-family: 'Oswald', sans-serif;
    }
    p{
        color: $gray;
        font-size: 16px;
        padding: 0;
    }
    .card{
        button{
            display: block;
            margin: 15px auto;
            border: none;
            background: $blue3;
            color: $white;
            @include transition(0.3s);

            &:hover{
                background: $blue2;
            }
        }
    }
}
.img-pet{
    width: 100%;
    overflow: hidden;
    @include border-radius(6px 6px 0 0);

    a{
        padding: 0 !important;
    }
}
.priority{
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    display: block;
    text-align: center;

    .icon-star{
        font-size: 25px;
        color: #FFC839;
    }
}
.inter-add{
    background: $gray4;
    padding: 30px 0;
    text-align: center;

    h3{
        color: $blue3;
        font-family: 'Oswald', sans-serif;
        font-size: 25px;
        font-weight: 700;
        text-transform: uppercase;

        @include xxs{
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            font-size: 20px;
            font-weight: bold;
            text-transform: none;
        }
    }
    p{
        text-align: justify;
        margin: 10px auto 0;

        @include sm{
            font-size: 14px;
        }
    }
    .btn{
        background: $blue3;
        color: $white;
        border: none;
        margin: 5px 0 0;
        @include transition(0.3s);

        &:hover{
            background: $blue2;
            color: $white;
        }
    }
}
.search-box{
    margin: 10px 0 30px;

    input[type="text"], [type="password"], [type="number"], [type="email"], select{
        background: $gray4;
        width: 100%;
        font-size: 16px;
        padding: 10px;
        border: $bor-gray;
        @include border-radius(6px);
        margin: 0 0 10px;
    }

    button{
        min-width: 140px;
        height: 44px;
        background: $green;
        color: $white;
        border: none;
        @include transition(0.3s);

        &:hover{
            background: $blue2;
            color: $white;
        }
        @include md{
            margin: 0 auto;
            display: block;
        }
        @include sm{
            width: 100%;
        }
    }
}
.btn-more{
    min-width: 140px;
    color: $red;
    border: 3px solid $red;
    @include transition(0.3s);
    display: block;
    margin: 0 auto;

    &:hover{
        background: $red;
        color: $white;
    }
}
.list-tips{
    margin: 20px 0;
    padding: 0 0 0 20px;
    font-size: 18px;

    @include s{
        font-size: 16px;
    }
    @include i5{
        font-size: 14px;
    }

    li{
        color: $green;
        padding: 12px 0;

        span{
            color: $blue;
        }
    }
}
.list-msj{
    list-style: none;
    margin: 20px 0;
    padding: 0;

    li{
        padding: 10px 0;
        font-size: 18px;
        color: $blue;

        @include iplus{
            font-size: 16px;
        }
        @include i5{
            font-size: 14px;
        }

        [class^="icon-"]{
            font-size: 50px;
            color: $blue3;
            float: left;
        }
        p{
            float: left;
            margin: 0 0 0 20px;
            width: calc(100% - 70px);
            padding: 0;
        }
    }
}
/*FIN HUELLITAS*/

/*PERDIDOS*/
.content-lost{

    .card{
        width: calc(25% - 19px);
        margin: 0 25px 25px 0;
        padding: 0 0 10px;
        float: left;
        text-align: center;

        &:nth-child(4n){
            margin-right: 0;
        }
        @include sm{
            width: calc(33.3% - 17px);
        }
        @include xxs{
            width: calc(50% - 13px);
        }
        @include i5{
            width: 100%;
            margin: 0 0 25px;
        }
    }
}
/*FIN PERDIDOS*/

/*FUNDACIONES*/
.content-funda{
    margin: 0;
    list-style: none;

    li{
        margin: 0 0 25px;
        padding: 1px;

        @include s{
            br{
                display: none;
            }
        }
    }
}
.funda-img{
    width: 230px;
    height: 230px;
    overflow: hidden;
    background: $white;
    float: left;
    @include border-radius(6px 0 0 6px);

    @include sm{
        @include border-radius(6px);
        height: 130px;
        width: 130px;
        margin: 20px 0 20px 20px;
    }
    @include s{
        float: none;
        margin: 20px auto 0;
    }
    @include xxs{
        margin: 1px;
        width: calc(100% - 2px);
        height: auto;
    }

    img{
        width: 100%;
    }
}
.funda-txt{
    float: left;
    width: calc(100% - 230px);
    box-sizing: border-box;
    padding: 20px 30px 20px;
    display: block;

    @include sm{
        padding: 20px;
        width: calc(100% - 150px);
    }
    @include s{
        width: 100%;
        float: none;
    }

    h3{
        color: $blue;
        font-weight: 700;
        font-size: 25px;
        font-family: 'Oswald', sans-serif;
    }
    h4{
        color: $blue;
        font-size: 16px;
        font-weight: bold;
        margin: 5px 0;

        @include i5{
            font-size: 14px;
        }
    }
    p{
        padding: 0;
        margin: 0 0 15px;
        color: $gray;
    }
    button{
        display: block;
        float: right;
        border: none;
        background: $blue3;
        color: $white;
        @include transition(0.3s);

        &:hover{
            background: $blue2;
            color: $white;
        }
        @include s{
            float: none;
        }
    }
}
.content-map{
    background: $blue;
    width: 100%;
    height: 500px;

    @include sm{
        height: 350px;
    }
    @include xxs{
        height: 280px;
    }
}
/*FIN FUNDACIONES*/

/*INTERNAS*/
.box-edit{
    background: $blue3;
    text-align: center;
    padding: 10px 0;

    .btn{
        background: $white;
        color: $blue2;
        width: 170px;
        margin: 0 9px;
        @include transition(0.3s);

        @include xxs{
            font-size: 16px;
            padding: 8px 10px;
            width: 140px;
            margin: 0 5px;
        }

        &:hover{
            background: $blue2;
            color: $white;
        }
    }
}
.name-pet{
    text-transform: uppercase;

    .btn{
        border: 2px solid $red;
        float: right;
        color: $red;
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        text-transform: none;
        font-weight: bold;

        @include xxs{
            float: none;
            display: block;
            width: 80px;
            margin: 5px 0 0;
        }
    }
}
.data-list{
    margin: 0 0 10px;
    list-style: none;

    li{
        color: $black;
        border-bottom: $bor-gray;
        font-size: 16px;
        width: 50%;
        float: left;
        padding: 10px 0;

        @include s{
            width: 100%;
            float: none;
        }

        b{
            display: block;
            color: $gray;
        }
    }
}
.inner-text{
    font-size: 16px;

    @include i5{
        font-size: 14px;
    }
}
.box-btn{
    margin: 20px 0 0;

    .btn{
        background: $blue3;
        color: $white;
        margin: 0 15px;
        min-width: 140px;
        @include transition(0.3s);
        border: none;

        &:hover{
            background: $blue2;
            color: $white;
        }
    }
}
.btn-fixed{

    @include xxs{
        position: fixed;
        bottom: 15px;
        left: 15px;
        z-index: 1;
        width: calc(100% - 30px);
        margin: 0 !important;
        font-size: 20px !important;
    }
}
.box-contact{
    margin: 20px 0 0;

    h5{
        color: $black;
        font-size: 16px;
        margin: 0 0 5px;
    }
    .funda-img{
        width: 100px;
        height: 100px;
        border: $bor-gray;
        float: left;
        margin: 0;
        @include border-radius(6px);

        @include xxs{
            float: none;
            margin: 0 auto 10px;
        }
 
    }
    .funda-txt{
        width: calc(100% - 100px);
        padding: 0 0 0 20px;
        float: left;

        @include xxs{
            float: none;
            width: 100%;
            padding: 0;
        }

        h3{
            font-size: 20px;
        }
    }
}
.coment-form{
    margin: 20px 0;

    .btn{
        min-width: 140px;
        height: 44px;
        background: $green;
        color: $white;
        border: none;
        @include transition(0.3s);

        &:hover{
            background: $blue2;
            color: $white;
        }
        @include md{
            margin: 0 auto;
            display: block;
        }
        @include sm{
            width: 100%;
        }
    }

    textarea{
        margin: 0 0 10px;
    }
}
.content-coment{
    margin: 0 0 30px;
    list-style: none;

    li{
        border-bottom: $bor-gray;
        padding: 10px 0;

        h4{
            color: $blue2;
            font-size: 16px;
            font-weight: bold;
        }
        p{
            padding: 0;
        }
        .coment-form{
            margin: 10px 0 0;
        }
    }
    .sub-coment{
        margin: 10px 0 0 20px;
        color: $gray5;
        font-size: 13px;

        .icon-coment{
            float: left;
            margin: 3px 10px 0 0;
        }
        p{
            float: left;
            width: calc(100% - 30px);
        }
    }
}

.gallery-content{
    margin: 10px 0 30px;

    .carousel-content{
        position: relative;
        overflow: hidden;

        img{
            display: block;
            width: 100%;
        }
        .btn-carousel{
            z-index: 2;
            top: 50%;
        
            a{
                position: absolute;
                display: block;
                text-align: center;
                top: 50%;
                color: $white;
                font-size: 40px;
                opacity: 0.8;
                @include transition(0.3s);

                &:hover{
                    color: $blue;
                    opacity: 1;
                    text-shadow: 1px 1px 0 $white, -1px -1px 0 $white, 1px -1px 0 $white, -1px 1px 0 $white, 1px 1px 0 $white;
                }

                @include xxs{
                    top: 40%;
                }
            }
            .thumb-prev{
                left: 20px;
                @include xxs{
                    left: 10px;
                }
            }
            .thumb-next{
                right: 20px;
                @include xxs{
                    right: 10px;
                }
            }
        }
    }
    .nav-thumbnail {
        width: 100%;
        overflow: hidden;
        position: relative;
        padding: 0;
        margin: 20px 0 0;
        list-style: none;

        @include s{
            display: none;
        }

        li{
            display: block;
            width: 50000px;
            height: auto;
            position: relative;

            img {
                float: left;
                width: 149px;
                margin-right: 20px;
                cursor: pointer;
                opacity: 0.5;

                @include lg{
                    margin-right: 15px;
                    width: 143px;
                }
                @include md{
                    width: 110px;
                }
                @include sm{
                    width: 87px;
                    margin-right: 10px;
                }

                &.active, &:hover{
                    opacity: 1;
                }
            }
        }
    }
}
/*FIN INTERNAS*/

/*FORMULARIOS*/
.content-form{
    max-width: 830px;
    margin: 0 auto;

    .btn-content{
        text-align: center;
        margin: 20px 0 0;

        .btn{
            min-width: 170px;
            margin: 0 5px;

            @include i6{
                min-width: auto;
                width: calc(50% - 20px);
            }
        }
    }
}
.tit-form {
    font-size: 25px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    color: $blue;
    margin: 0 0 20px;

    @include i5{
        font-size: 20px;
    }
}
.bad{
    input[type="text"], [type="password"], [type="number"], [type="email"], select, textarea{
        background: #FFEBEB;
    } 
}
.error{
    color: #FF0047;
    height: 15px;
    font-size: 11px;
    display: block;
}
.legal{
    color: $blue;
    font-size: 12px;
    display: block;
    margin: 10px 0 0;
}
.type-pet{
    float: left;
    margin: 0 0 10px;

    &:first-child{
        margin: 0 18px 0 0;
        
        @include lg{
            margin: 0 7px 0 0;
        }
        @include md{
            margin: 0 30px 0 0;
        }
    }

    input[type="radio"]{
        width: 16px;
        height: 16px;
        display: block;
        float: left;
        margin: 13px 5px 13px 0;
    }

    [class^="icon-"]{
        font-size: 40px;
        color: $blue;
    }
}
.central-pet{
    text-align: center;
    margin: 20px 0 10px;

    .type-pet{
        float: none;
        display: inline-block;
    }
}

form{
    input[type="text"], [type="password"], [type="number"], [type="email"], select{
        background: $gray4;
        width: 100%;
        font-size: 16px;
        padding: 10px;
        @include border-radius(6px);
    }
    textarea{
        background: $gray4;
        width: 100%;
        font-size: 16px;
        padding: 10px;
        @include border-radius(6px);
        height: 100px;
    }
    label{
        font-size: 16px;
        font-weight: bold;
        color: $blue;
        display: block;
    }
    fieldset{
        border: none;
        margin: 0;
        padding: 0;
    }
    .checkbox+.checkbox, .radio+.radio{
        margin-top: inherit;
    }
    .radio, .checkbox{
        margin: 10px 0 !important;

        label{
            font-size: 14px;
            color: $text-color;
        }
    }
}
.btn-save{
    background: $blue3;
    color: $white;
    @include transition(0.3s);

    &:hover{
        background: $blue2;
        color: $white;
    }
}
.btn-cancel{
    background: $gray2;
    color: $white;
    @include transition(0.3s);

    &:hover{
        background: $gray5;
        color: $white;
    }
}
ul.wizard_steps {
    display: table;
    list-style: none;
    position: relative;
    width: 400px;
    margin: 30px auto;
    padding: 0;

    @include xxs{
        width: 100%;
    }

    li{
        display: table-cell;
        text-align: center;

        &:hover{
            display: block;
            position: relative;
            filter: alpha(opacity=100);
            opacity: 1;
            color: $gray;
        }

        &:first-child{

            a:before{
                left: 50%;
            }
        }

        a{
            display: block;
            position: relative;
            filter: alpha(opacity=100);
            opacity: 1;
            color: $gray;

            .step_no{
                background: $white;
                color: $green;
                border: 3px solid $green;
                font-family: 'Oswald', sans-serif;
                line-height: 55px;
                display: block;
                margin: 0 auto 5px;
                font-size: 30px;
                text-align: center;
                position: relative;
                z-index: 1;
                font-weight: 500;
                @include circle(60px);

                @include xxs{
                    @include circle(45px);
                    font-size: 20px;
                    line-height: 40px;
                }
            }
            &:before {
                content: "";
                position: absolute;
                height: 4px;
                background: $gray2;
                top: 30px;
                width: 100%;
                z-index: 0;
                left: 0;

                @include xxs{
                    top: 20px;
                }
            }

            &.selected{
                
                .step_no{
                    background: $green;
                    color: $white;
                }
                &:before {
                    background: $green;
                }
            }
            &.done{

                .step_no {
                    background: $white;
                    color: $green;
                }
                &:before {
                    background: $green;
                }
            }
            &.disabled{

                .step_no {
                    background: $white;
                    border: 3px solid $gray2;
                    color: $gray2;
                }
            }
        }

        &:last-child{

            a:before{
                right: 50%;
                width: 50%;
                left: auto;
            }
        }
    }
}
.f-n-family{
    width: 400px;
    margin: 0 auto;

    @include xxs{
        width: 100%;
    }

    p{
        padding: 0;
        font-size: 16px;
        text-align: center;

        @include xxs{
            font-size: 14px;
        }
    }
}
.ask-f{
    border-bottom: $bor-gray;
    padding: 10px 0;

    &:last-child{
        margin: 0 0 30px;
    }
    input[type="text"], textarea, select{
        font-size: 14px;
    }
}
.images-dropzone {
    background: $gray4;
    text-align: center;
    padding: 40px 0 0;
    margin: 0 0 30px;
    @include border-radius(6px);

    p {
        margin: 0;
        padding: 0;
        font-size: 16px;
        color: $gray5;

        [class^="icon-"]{
            font-size: 35px;
        }
    }
    .file-upload-button {
        position: relative;
        overflow: hidden;
        max-width: 60%;
        margin: 10px auto 30px;
    
        button {
            white-space: normal;
            margin: 0;
            font-size: 16px;
            background: $blue3;
            color: $white;
        }
        input[type="file"] {
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            font-size: 500px;
            opacity: 0;
            cursor: pointer;
            display: block;
        }
    }
}
.all-preview{
    margin: 0;
    padding: 0;
    list-style: none;

    @include xxs{
        padding: 0 10px;
    }

    li{
        width: 20%;
        padding: 0 15px;
        box-sizing: border-box;
        float: left;

        @include s{
            width: 25%;
        }
        @include xxs{
            width: 33.3%;
            padding: 0 5px;
        }

        .preview-img{
            position: relative;
            overflow: hidden;
            margin: 0 0 20px;

            img{
                display: block;
                width: 100%;
            }

            .delete-img{
                cursor: pointer;
                background: $blue3;
                color: $white;
                position: absolute;
                top: 5px;
                right: 5px;
                line-height: 1;
                padding: 3px;
                border-radius: 2px;
                z-index: 1;
            }
            .principal{
                position: absolute;
                bottom: 0;
                width: 100%;
                color: $white;
                background: $blue;
                text-align: center;

                @include xxs{
                    font-size: 10px;
                }
            }
        }
    }
}
.redes-inp{

    input[type="text"]{
        width: calc(100% - 50px);
        float: left;
        margin: 0 0 0 6px;
    }
    [class^="icon-"]{
        font-size: 25px;
        text-align: center;
        line-height: 44px;
        color: $white;
        background: $blue3;
        @include circle(44px);
        display: block;
        float: left;
    }
}
.aprova{
    background: $green;
}
.adopt{
    background: $blue2;
}
.reject{
    background: $red;
}
/*FIN FORMULARIOS*/

/*POR QUE*/
.content-pq{
    text-align: center;
    font-size: 16px;

    @include i6{
        font-size: 14px;
    }

    p{
        max-width: 650px;
        width: 90%;
        margin: 0 auto;
        padding: 0;
    }
    .btn{
        background: $blue3;
        color: $white;
        border: none;
        margin: 30px 0 0;
        @include transition(0.3s);
        min-width: 170px;

        &:hover{
            background: $white;
            color: $blue2;
        }
    }

    .pq-2{
        background: url(../images/bkg-blue3.png) repeat $blue3;
    }
    .pq-3{
        background: url(../images/bkg-green.png) repeat $green;
    }
    .pq-4{
        background: url(../images/bkg-red.png) repeat $red;

        h2{
            color: $white;
        }
    }
    .pq-5{
        background: url(../images/bkg-blue.png) repeat $blue;

        h2{
            color: $blue3;
        }
        p{
            color: $gray2;
        }
    }
    .pq-6{
        background: url(../images/bkg-blue2.png) repeat $blue2;

        h2{
            color: $blue3;
        }
        p{
            color: $white;
        }
    }
    .img-pq{
        display: block;
        margin: 0 auto;

        @include iplus{
            width: 200px;
        }
        @include xxxs{
            width: 150px;
        }
    }
}
.tit-pq{
    font-size: 30px;
    font-weight: 300;
    font-family: 'Oswald', sans-serif;
    margin: 20px 0;
    color: $blue2;

    @include iplus{
        width: 90%;
        margin: 20px auto;
    }
    @include i6{
        font-size: 25px;
    }
    @include xxxs{
        margin: 10px auto;
    }
}
.wrap-down {
    width: 100%;
    cursor: pointer;
    position: absolute;
    left: 0;
    bottom: 2%;
    color: $blue2;

    .icon-down{
        display: block;
        font-size: 30px;
    }
}
.box-pq{
    max-width: 650px;
    margin: 0 auto 20px;

    @include iplus{
        width: 90%;
    }
    @include i5{
        display: none;
    }

    h3{
        color: $blue;
        font-size: 40px;
        font-family: 'Oswald', sans-serif;
        font-weight: 600;

        @include iplus{
            font-size: 30px;
        }
    }
    p{
        font-size: 25px;
        padding: 0;

        @include iplus{
            font-size: 18px;
            line-height: normal;
        }
    }
}
#fp-nav.right{

    @include iplus{
        right: 3px !important;
    }
}
/*FIN POR QUE*/

/*FOOTER*/
footer{
    background: $white;
    padding: 40px 0;
    text-align: center;

    @include iplus{
        padding: 20px 0 30px;
    }

    p{
        padding: 0;
        color: $gray3;
        font-size: 12px;
    }
    .redes{
        margin: 0 0 20px;

        a{
            display: inline-block;
            @include circle(60px);
            background: $gray5;
            color: $white;
            font-size: 35px;
            margin: 0 10px;
            padding: 8px 0;
            box-sizing: border-box;
            @include transition(0.3s);

            &:hover{
                background: $blue2;
            }
        }
    }
}
/*FIN FOOTER*/

/*ADMIN*/
.res-pet{
    @include border-radius(6px);
    background: $gray4;

    @include xxs{
        margin: 0 15px;
    }

    img{
        width: 225px;
        float: left;

        @include xxs{
            display: none;
        }
    }
    .txt-pet{
        width: calc(100% - 225px);
        box-sizing: border-box;
        padding: 20px;
        float: left;

        @include xxs{
            width: 100%;
        }

        h3{
            font-size: 20px;
            color: $blue;
            font-weight: 700;
            font-family: 'Oswald', sans-serif;
        }
        div{
            float: left;
            width: 50%;

            @include s{
                width: 100%;
                float: none;
            }
        }
        span{
            display: block;
        }
    }
}
.ft-mpet{
    margin: 0 0 20px;

    @include iplus{
        br{
            display: none;
        }
    }

    .search-box{
        margin: 10px 0 10px;
    }
    .btn-more{
        float: left;

        @include iplus{
            float: none;
            margin: 0 15px;
        }
    }
    .stage-box{
        float: right;
        margin: 15px 0;

        @include iplus{
            float: none;
            margin: 10px 15px 0;
        }

        span{
            float: left;
        }

        .st-off{
            @include circle(20px);
            display: inline-block;
            background: $gray2;
            margin: 0 5px 0 10px;
        }
        .st-on{
            @include circle(20px);
            display: inline-block;
            background: $green;
            margin: 0 5px 0 10px;
        }
    }
}
.table{
    font-size: 16px;

    @include sm{
        width: 700px;
    }
    @include s{
        font-size: 14px;
    }

    th{
        font-size: 18px;
        font-weight: bold;
        color: $blue;

        @include s{
            font-size: 16px;
        }
    }
    &>tbody>tr>td{
        padding: 20px 8px;
        vertical-align: middle;

        @include s{
            padding: 8px;
        }
    }
    .img-table{
        width: 120px;
        padding: 0;

        img{
            width: 100%;
            display: block;
        }
    }
    .btn{
        background: $blue3;
        color: $white;
        @include transition(0.3s);

        &:hover{
            background: $blue2;
        }
    }
}
.mask-table{
    width: 100%;
    overflow-x: auto;
}
.tit-sct{
    font-size: 20px;
    color: $blue;
    font-weight: bold;
    margin: 30px 0 0;

    @include xxs{
        font-size: 16px;
    }
}
.answer-list{
    list-style: none;
    margin: 0;
    padding: 0;

    li{
        font-size: 16px;
        color: $black;
        padding: 10px 0;

        @include xxs{
            font-size: 14px;
        }

        b{
            font-size: 14px;
            display: block;
            color: $gray;
        }
    }
}

.profile-avatar-wrap{
    margin: 80px 0;
    text-align: center;
    float: right;

    @include sm{
        margin: 0 0 20px;
    }

    .user-img{
        margin: 0 auto 10px;
        @include circle(100px);
        cursor: default;

        .no-img{
            font-size: 40px;
            padding: 20px 0;
        }
    }
}

.onoffswitch {
    position: relative; width: 60px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    height: 36px; padding: 0; line-height: 36px;
    border: 2px solid $gray2; border-radius: 36px;
    background-color: $gray2;
    transition: background-color 0.3s ease-in;
}
.onoffswitch-label:before {
    content: "";
    display: block; width: 36px; margin: 0px;
    background: $white;
    position: absolute; top: 0; bottom: 0;
    right: 22px;
    border: 2px solid $gray2; border-radius: 36px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label {
    background-color: $green;
}
.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
   border-color: $green;
}
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
    right: 0px; 
}

/*FIN ADMIN*/

/*MODALES*/
.modal-backdrop {
    background: $green;
}
.modal-backdrop.in{
    opacity: .8;
}
.modal-content{
    @include box-shadow(none);
    @include border-radius(6px);
    border: none;
    padding: 30px;
    box-sizing: border-box;

    .close{
        display: block;
        font-size: 25px;
        color: $blue;
        opacity: 1;

        &:hover{
            color: $blue2;
        }
    }
    .btn{
        width: 170px; 
        margin: 30px auto 0;
        display: block;
    }
}
.modal-header{
    padding: 0;
    border-bottom: none;
    margin: 0 0 20px;
}
.tit-modal{
    font-size: 25px;
    color: $blue;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    padding: 0 0 0 25px;
    float: left;
    width: calc(100% - 25px);
    box-sizing: border-box;
}

.login_redes {
    margin: 0 0 20px;
    justify-content: center;
    display: flex;
    padding: 0 0 30px;
    position: relative;

    button {
        background: $blue3;
        color: #FFF;
        font-size: 35px;
        @include circle(60px);
        overflow: hidden;
        margin: 0 15px;
        line-height: 35px;
        @include transition(0.3s);

        @include i6{
            @include circle(50px);
            font-size: 30px;
        }

        &:hover{
            background: $blue2;
        }
    }
    p {
        font-size: 16px;
        text-align: center;
        position: absolute;
        bottom: 0;
        padding: 0;
    }
}
.box-log {
    padding: 20px 0 0;
    text-align: center;
    font-size: 15px;
}
.login{
    max-width: 360px;
}
.msj-end{
    color: $blue;
    font-size: 16px;
    text-align: center;

    @include i5{
        font-size: 14px;
    }

    [class^="icon-"]{
        font-size: 80px;
        color: $blue3;
    }
}
/*FIN MODALES*/

/*NOTIFICACIONES*/
.notification{
    margin: 0 0 30px;
    padding: 0;
    list-style: none;

    li{
        padding: 15px 0;
        border-bottom: $bor-gray;
        cursor: pointer;
        @include transition(0.3s);

        &:hover{
            background: $gray4;
        }

        p{
            padding: 0;
        }
        span{
            color: $gray3;
            font-size: 12px;
        }
        .new{
            @include circle(11px);
            display: inline-block;
            background: $red;
        }
    }
}
.noti-back{
    padding: 10px 0;
    font-size: 20px;

    span{
        font-size: 25px;
    }
}
/*FIN NOTIFICACIONES*/

.col-md-12{
    float: none;

    .data-list{
        padding: 0;
    }
}
.btn-lg, .btn-group-lg>.btn{

    @include xxxs{
        font-size: 16px;
        padding: 8px 16px;
    }
}

@media (max-width: 768px){
    .content-lost .card:nth-child(4n){
        margin-right: 25px !important;
    }
    .content-lost .card:nth-child(3n){
        margin-right: 0 !important;
    }
}

@media (max-width: 600px) {

    .content-card .card:nth-child(3n){
        margin-right: 25px !important;
    }
    .content-card .card:nth-child(2n){
        margin-right: 0 !important;
    }
    .gallery-content.col-md-12{
        padding: 0;
    }
}
@media (max-width: 480px) {
    .content-lost .card:nth-child(3n){
        margin-right: 25px !important;
    }
    .content-lost .card:nth-child(2n), .content-lost .card:nth-child(4n){
        margin-right: 0 !important;
    }
}

@import 'animate';
@import 'a-huellitas';