<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Pollaya</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700,800" rel="stylesheet">
    <link rel="stylesheet" href="../content/css/styles.css" />

    <!--[if IE]>
		<script type="text/javascript">
			 var console = { log: function() {} };
		</script>
	<![endif]-->
</head>
<body>
	<main>
		<div class="header-banner" style="background-image: url(https://img.uefa.com/imgml/uefacom/ucl/fallback.jpg);">
			<div class="container">
				<h1>CREA TU POLLA ONLINE GRATIS PARA LA CHAMPIONS LEAGUE 2019-2020</h1>
				<div class="circle-banner">
					<img src="../content/images/mask-img.svg" alt="" />
					<img src="https://img.uefa.com/imgml/uefacom/ucl/fallback.jpg" alt="" />
				</div>
			</div>
			<img class="mask-banner" src="../content/images/mask-top.svg" alt="" />
		</div>
	</main>
	<section class="focus content-pricing">
		<article class="container">
			<h1 class="tit-planes">PLANES</h1>
			<br>
		</article>
	</section>
	<section class="focus content-pricing">
		<article class="container">
			<h1 class="tit-planes">PLANES</h1>
			<br>
			<ul class="list-pricing">
				<li class="pricing-box novato">
					<img class="cup" src="../content/images/img-bronce.png">
					<h3>NOVATO</h3>
					<h4>2 a 8 integrates</h4>
					<div class="price">$0</div>
					<a class="btn btn-primary custom-button btn-buy" href="https://game.pollaya.com">Juega aquí</a>
					<button class="btn-beneficios">Ver beneficios <i class="fa fa-angle-down"></i></button>
					<ul id="beneficios1" class="list-beneficios" style="display: none;">
						<li><i class="fa fa-check"></i> Actualización en línea</li>
						<li><i class="fa fa-check"></i> Torneo completo o por fases</li>
						<li><i class="fa fa-check"></i> Notificaciones</li>
						<li><i class="fa fa-check"></i> Personalización de puntos</li>
						<li><i class="fa fa-check"></i> Goleador, mejor jugador, mejor arquero</li>
						<li><i class="fa fa-check"></i> Hasta 10 usuarios gratis</li>
					</ul>
				</li>
				<li class="pricing-box experto">
					<img class="cup" src="../content/images/img-plata.png">
					<h3>EXPERTO</h3>
					<h4>8 a 20 integrates</h4>
					<div class="no-ads">
						<img src="../content/images/img-ads.png">
						SIN PUBLICIDAD
					</div>
					<div class="price">$40.000</div>
					<a class="btn btn-primary custom-button btn-buy" href="https://game.pollaya.com">Comprar ya</a>
					<button class="btn-beneficios">Ver beneficios <i class="fa fa-angle-down"></i></button>
					<ul id="beneficios2" class="list-beneficios" style="display: none;">
						<li><i class="fa fa-check"></i> Actualización en línea</li>
						<li><i class="fa fa-check"></i> Torneo completo o por fases</li>
						<li><i class="fa fa-check"></i> Notificaciones</li>
						<li><i class="fa fa-check"></i> Personalización de puntos</li>
						<li><i class="fa fa-check"></i> Goleador, mejor jugador, mejor arquero</li>
						<li><i class="fa fa-check"></i> Sin publicidad</li>
						<li><i class="fa fa-check"></i> Puedes invitar hasta 100 usuarios</li>
					</ul>
				</li>
				<li class="pricing-box">
					<img class="cup" src="../content/images/img-oro.png">
					<h3>PROFESIONAL</h3>
					<h4>21 o más integrantes</h4>
					<p class="text">Si tu empresa tiene más de 100 empleados o deseas algún tipo de personalización para tu negocio, puedes enviarnos un correo a <a href="mailto:info@pollaya.com">info@pollaya.com</a></p>
					<a class="btn btn-primary custom-button btn-buy" href="mailto:info@pollaya.com">Más info</a>
					<button class="btn-beneficios">Ver beneficios <i class="fa fa-angle-down"></i></button>
				</li>
				<br />
			</ul>
		</article>
		<div class="bk-1">
			<img src="../content/images/img-r1.png">
		</div>
		<div class="bk-2">
			<img src="../content/images/img-r2.png">
		</div>
	</section>
	<section class="box-appstore">
		<article class="container">
			<div class="text-app">
				<h3>¡Descarga el app y diviertete jugando!</h3>
				<a href="">
					<img src="https://pollaya.com/wp-content/uploads/2019/04/google-play.png" alt="" />
				</a>
			</div>
			<div class="img-app">
				<img src="https://pollaya.com/wp-content/uploads/2019/04/img-app.png" alt="" />
			</div>
			<br/>
		</article>
	</section>
	<script>
		function openStats(position)
		{
		  //jQuery(".list-beneficios").hide();
		  jQuery("#beneficios"+position).show();
		}		
	</script>
</body>